Celem wykonanego ćwiczenia jest wyczyszczenie uszkodzonego zbioru danych i przygotowanie go do analizy.

In [1]:
import pandas as pd
import numpy as np
import csv

Pierwszym krokiem jest zaimportowanie niezbędnych bibliotek.

In [2]:
df = pd.read_csv('TitanicMess.tsv',delimiter='\t')

Kolejnym wczytanie pliku źródłowego. Separatorem tego dokumentu jest tabulacja.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  892 non-null    int64
 1   Survived     892 non-null    int64
 2   Pclass       892 non-null    int64
 3   Name         892 non-null    object
 4   Sex          892 non-null    object
 5   Age          719 non-null    object
 6   SibSp        892 non-null    int64
 7   Parch        892 non-null    int64
 8   Ticket       892 non-null    object
 9   Fare         892 non-null    object
 10  Cabin        207 non-null    object
 11  Embarked     890 non-null    object
 12  ship         892 non-null    object
dtypes: int64(5), object(8)
memory usage: 90.7+ KB

Tak prezentują się dane naszego zbioru. Możemy zaobserować nazwy kolumn, liczbę wartości różnych od NULL, typ danych jakie przechowuje dana kolumna. Nasze dane to 892 wiersze przedstawiające dane dotyczące przeżywalności katastrofy statku pasażerskiego Titanic. Za pomocą tej prostej prezentacji możemy zaobserwować następujące problemy. Nazwy kolumn mają różny sposób formatowania, należałoby je ujednolicić. Same nazwy niektóych kolumn nie wskazują jednoznacznie na ich wartość, można pokusić się o próbę dokładniejszego opisu. W przypadku kolumn Age, Cabin oraz Embarked możemy zaobserwować brakujące wartości, trzeba się temu przyjżeć i spróbować rozwiązać tę sprawę. Ostanim fragmentem możliwym do zaobserwowania jest typ danych i próba określenia jego poprawności.

In [4]:
df.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ship
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,"7,25",NaN,S,Titanic
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,"71,2833",C85,C,Titanic
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,"7,925",NaN,S,Titanic
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,"53,1",C123,S,Titanic
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,"8,05",NaN,S,Titanic
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,"8,4583",NaN,Q,Titanic
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,"51,8625",E46,S,Titanic
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,"21,075",NaN,S,Titanic
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,"11,1333",NaN,S,Titanic
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,"30,0708",NaN,C,Titanic
10,11,1,3,"Sandstrom, Miss. Marguerite Ru&5$$",female,4,1,1,PP 9549,"16,7",G6,S,Titanic
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,"26,55",C103,S,Titanic
12,13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,"8,05",NaN,S,Titanic
13,11,1,3,"Sandstrom, Miss. Marguerite Ru&5$$",female,4,1,1,PP 9549,"16,7",G6,S,Titanic
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,"7,8542",NaN,S,Titanic
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55,0,0,248706,16,NaN,S,Titanic
16,17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,"29,125",NaN,Q,Titanic
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13,NaN,So,Titanic
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31,1,0,345763,18,NaN,S,Titanic
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,"7,225",NaN,C,Titanic

Dzięki tak przedstawionym danym możemy zaobserwować przykładowe wiersze z naszego zbioru. Dane te są dziwnie sformatowane. W kolumnach występują niepoprawne wartości, czasem również zdarzają się pomyłki, literóki i błędy w danych. Kilka kolumn przedstawia się jako zbędne do analizy, w dalszych krokach będzie konieczna głębsza analiza.

In [5]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            173
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          685
Embarked         2
ship             0
dtype: int64

Sprawdzenie pustych wartości potwierdza nam problem dużego stopnia w przypadku kolumny Cabin oraz Age. W przypadku Embarked są to 2 wiersze, w których brakuje danych.

In [6]:
df['Survived'].value_counts()

0    547
1    345
Name: Survived, dtype: int64

Sprawdzenie jakie oraz ile danych znajduje się w kolumnie Survived.

In [7]:
df['Pclass'].value_counts()

3    491
1    217
2    184
Name: Pclass, dtype: int64

Sprawdzenie jakie oraz ile danych znajduje się w kolumnie Pclass.

In [8]:
df['Name'].value_counts()

Sandstrom, Miss. Marguerite Ru&5$$                 3
Hoyt, Mr. Frederick Maxfield                       2
Simonius-Blumer, Col. Oberst Alfons                1
Cherry, Miss. Gladys                               1
Harris, Mr. George                                 1
                                                  ..
Alexander, Mr. William                             1
Hansen, Mr. Claus Peter                            1
Widener, Mr. Harry Elkins                          1
Kent, Mr. Edward Austin                            1
Andersen-Jensen, Miss. Carla Christine Nielsine    1
Name: Name, Length: 889, dtype: int64

Sprawdzenie jakie oraz ile danych znajduje się w kolumnie Pclass. Można zauważyć powtarzające się wartości, dodatkowo z racji przyjętego formatu danych możliwe jest, że niektóre wartości powtarzają się jednak program nie wykazuje ich w sposób natychmiastowy.

In [9]:
for i in df.index:
    print(df.at[i, 'Name'])

Braund, Mr. Owen Harris
Cumings, Mrs. John Bradley (Florence Briggs Thayer)
Heikkinen, Miss. Laina
Futrelle, Mrs. Jacques Heath (Lily May Peel)
Allen, Mr. William Henry
Moran, Mr. James
McCarthy, Mr. Timothy J
Palsson, Master. Gosta Leonard
Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
Nasser, Mrs. Nicholas (Adele Achem)
Sandstrom, Miss. Marguerite Ru&5$$
Bonnell, Miss. Elizabeth
Saundercock, Mr. William Henry
Sandstrom, Miss. Marguerite Ru&5$$
Vestrom, Miss. Hulda Amanda Adolfina
Hewlett, Mrs. (Mary D Kingcome)
Rice, Master. Eugene
Williams, Mr. Charles Eugene
Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)
Masselmani, Mrs. Fatima
Fynney, Mr. Joseph J
Beesley, Mr. Lawrence
McGowan, Miss. Anna "Annie"
Sandstrom, Miss. Marguerite Ru&5$$
Palsson, Miss. Torborg Danira
Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)
Emir, Mr. Farred Chehab
Fortune, Mr. Charles Alexander
O'Dwyer, Miss. Ellen "Nellie"
Todoroff, Mr. Lalio
Uruchurtu, Don. Manuel E
Spencer, Mrs. William Augustus (Marie Eugenie)
Glynn, Miss. Mary Agatha
Wheadon, Mr. Edward H
Meyer, Mr. Edgar Joseph
Holverson, Mr. Alexander Oskar
Mamee, Mr. Hanna
Cann, Mr. Ernest Charles
Vander Planke, Miss. Augusta Maria
Nicola-Yarred, Miss. Jamila
Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)
Kraeff, Mr. Theodor
Laroche, Miss. Simonne Marie Anne Andree
Devaney, Miss. Margaret Delia
Rogers, Mr. William John
Lennon, Mr. Denis
O'Driscoll, Miss. Bridget
Samaan, Mr. Youssef
Arnold-Franchi, Mrs. Josef (Josefine Franchi)
Panula, Master. Juha Niilo
Nosworthy, Mr. Richard Cater
Harper, Mrs. Henry Sleeper (Myna Haxtun)
Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)
Ostby, Mr. Engelhart Cornelius
Woolner, Mr. Hugh
Rugg, Miss. Emily
Novel, Mr. Mansouer
West, Miss. Constance Mirium
Goodwin, Master. William Frederick
Sirayanian, Mr. Orsen
Icard, Miss. Amelie
Harris, Mr. Henry Birkhardt
Skoog, Master. Harald
Stewart, Mr. Albert A
Moubarek, Master. Gerios
Nye, Mrs. (Elizabeth Ramell)
Crease, Mr. Ernest James
Andersson, Miss. Erna Alexandra
Kink, Mr. Vincenz
Jenkin, Mr. Stephen Curnow
Goodwin, Miss. Lillian Amy
Hood, Mr. Ambrose Jr
Chronopoulos, Mr. Apostolos
Bing, Mr. Lee
Moen, Mr. Sigurd Hansen
Staneff, Mr. Ivan
Moutal, Mr. Rahamin Haim
Caldwell, Master. Alden Gates
Dowdell, Miss. Elizabeth
Waelens, Mr. Achille
Sheerlinck, Mr. Jan Baptist
McDermott, Miss. Brigdet Delia
Carrau, Mr. Francisco M
Ilett, Miss. Bertha
Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)
Ford, Mr. William Neal
Slocovski, Mr. Selman Francis
Fortune, Miss. Mabel Helen
Celotti, Mr. Francesco
Christmann, Mr. Emil
Andreasson, Mr. Paul Edvin
Chaffee, Mr. Herbert Fuller
Dean, Mr. Bertram Frank
Coxon, Mr. Daniel
Shorney, Mr. Charles Joseph
Goldschmidt, Mr. George B
Greenfield, Mr. William Bertram
Doling, Mrs. John T (Ada Julia Bone)
Kantor, Mr. Sinai
Petranec, Miss. Matilda
Petroff, Mr. Pastcho ("Pentcho")
White, Mr. Richard Frasar
Johansson, Mr. Gustaf Joel
Gustafsson, Mr. Anders Vilhelm
Mionoff, Mr. Stoytcho
Salkjelsvik, Miss. Anna Kristine
Moss, Mr. Albert Johan
Rekic, Mr. Tido
Moran, Miss. Bertha
Porter, Mr. Walter Chamberlain
Zabour, Miss. Hileni
Barton, Mr. David John
Jussila, Miss. Katriina
Attalah, Miss. Malake
Pekoniemi, Mr. Edvard
Connors, Mr. Patrick
Turpin, Mr. William John Robert
Baxter, Mr. Quigg Edmond
Andersson, Miss. Ellis Anna Maria
Hickman, Mr. Stanley George
Moore, Mr. Leonard Charles
Nasser, Mr. Nicholas
Webber, Miss. Susan
White, Mr. Percival Wayland
Nicola-Yarred, Master. Elias
McMahon, Mr. Martin
Madsen, Mr. Fridtjof Arne
Peter, Miss. Anna
Ekstrom, Mr. Johan
Drazenoic, Mr. Jozef
Coelho, Mr. Domingos Fernandeo
Robins, Mrs. Alexander A (Grace Charity Laury)
Weisz, Mrs. Leopold (Mathilde Francoise Pede)
Sobey, Mr. Samuel James Hayden
Richard, Mr. Emile
Newsom, Miss. Helen Monypeny
Futrelle, Mr. Jacques Heath
Osen, Mr. Olaf Elon
Giglio, Mr. Victor
Boulos, Mrs. Joseph (Sultana)
Nysten, Miss. Anna Sofia
Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)
Burke, Mr. Jeremiah
Andrew, Mr. Edgardo Samuel
Nicholls, Mr. Joseph Charles
Andersson, Mr. August Edvard ("Wennerstrom")
Ford, Miss. Robina Maggie "Ruby"
Navratil, Mr. Michel ("Louis M Hoffman")
Byles, Rev. Thomas Roussel Davids
Bateman, Rev. Robert James
Pears, Mrs. Thomas (Edith Wearne)
Meo, Mr. Alfonzo
van Billiard, Mr. Austin Blyler
Olsen, Mr. Ole Martin
Williams, Mr. Charles Duane
Gilnagh, Miss. Katherine "Katie"
Corn, Mr. Harry
Smiljanic, Mr. Mile
Sage, Master. Thomas Henry
Cribb, Mr. John Hatfield
Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)
Bengtsson, Mr. John Viktor
Calic, Mr. Jovo
Panula, Master. Eino Viljami
Goldsmith, Master. Frank John William "Frankie"
Chibnall, Mrs. (Edith Martha Bowerman)
Skoog, Mrs. William (Anna Bernhardina Karlsson)
Baumann, Mr. John D
Ling, Mr. Lee
Van der hoef, Mr. Wyckoff
Rice, Master. Arthur
Johnson, Miss. Eleanor Ileen
Sivola, Mr. Antti Wilhelm
Smith, Mr. James Clinch
Klasen, Mr. Klas Albin
Lefebre, Master. Henry Forbes
Isham, Miss. Ann Elizabeth
Hale, Mr. Reginald
Leonard, Mr. Lionel
Sage, Miss. Constance Gladys
Pernot, Mr. Rene
Asplund, Master. Clarence Gustaf Hugo
Becker, Master. Richard F
Kink-Heilmann, Miss. Luise Gretchen
Rood, Mr. Hugh Roscoe
O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)
Romaine, Mr. Charles Hallace ("Mr C Rolmane")
Bourke, Mr. John
Turcin, Mr. Stjepan
Pinsky, Mrs. (Rosa)
Carbines, Mr. William
Andersen-Jensen, Miss. Carla Christine Nielsine
Navratil, Master. Michel M
Brown, Mrs. James Joseph (Margaret Tobin)
Lurette, Miss. Elise
Mernagh, Mr. Robert
Olsen, Mr. Karl Siegwart Andreas
Madigan, Miss. Margaret "Maggie"
Yrois, Miss. Henriette ("Mrs Harbeck")
Vande Walle, Mr. Nestor Cyriel
Sage, Mr. Frederick
Johanson, Mr. Jakob Alfred
Youseff, Mr. Gerious
Cohen, Mr. Gurshon "Gus"
Strom, Miss. Telma Matilda
Backstrom, Mr. Karl Alfred
Albimona, Mr. Nassef Cassem
Carr, Miss. Helen "Ellen"
Blank, Mr. Henry
Ali, Mr. Ahmed
Cameron, Miss. Clear Annie
Perkin, Mr. John Henry
Givard, Mr. Hans Kristensen
Kiernan, Mr. Philip
Newell, Miss. Madeleine
Honkanen, Miss. Eliina
Jacobsohn, Mr. Sidney Samuel
Bazzani, Miss. Albina
Harris, Mr. Walter
Sunderland, Mr. Victor Francis
Bracken, Mr. James H
Green, Mr. George Henry
Nenkoff, Mr. Christo
Hoyt, Mr. Frederick Maxfield
Berglund, Mr. Karl Ivar Sven
Mellors, Mr. William John
Lovell, Mr. John Hall ("Henry")
Fahlstrom, Mr. Arne Jonas
Lefebre, Miss. Mathilde
Harris, Mrs. Henry Birkhardt (Irene Wallach)
Larsson, Mr. Bengt Edvin
Sjostedt, Mr. Ernst Adolf
Asplund, Miss. Lillian Gertrud
Leyson, Mr. Robert William Norman
Harknett, Miss. Alice Phoebe
Hold, Mr. Stephen
Collyer, Miss. Marjorie "Lottie"
Pengelly, Mr. Frederick William
Hunt, Mr. George Henry
Zabour, Miss. Thamine
Murphy, Miss. Katherine "Kate"
Coleridge, Mr. Reginald Charles
Maenpaa, Mr. Matti Alexanteri
Attalah, Mr. Sleiman
Minahan, Dr. William Edward
Lindahl, Miss. Agda Thorilda Viktoria
Hamalainen, Mrs. William (Anna)
Beckwith, Mr. Richard Leonard
Carter, Rev. Ernest Courtenay
Reed, Mr. James George
Strom, Mrs. Wilhelm (Elna Matilda Persson)
Stead, Mr. William Thomas
Lobb, Mr. William Arthur
Rosblom, Mrs. Viktor (Helena Wilhelmina)
Touma, Mrs. Darwis (Hanne Youssef Razi)
Thorne, Mrs. Gertrude Maybelle
Cherry, Miss. Gladys
Ward, Miss. Anna
Parrish, Mrs. (Lutie Davis)
Smith, Mr. Thomas
Asplund, Master. Edvin Rojj Felix
Taussig, Mr. Emil
Harrison, Mr. William
Henry, Miss. Delia
Reeves, Mr. David
Panula, Mr. Ernesti Arvid
Persson, Mr. Ernst Ulrik
Graham, Mrs. William Thompson (Edith Junkins)
Bissette, Miss. Amelia
Cairns, Mr. Alexander
Tornquist, Mr. William Henry
Mellinger, Mrs. (Elizabeth Anne Maidment)
Natsch, Mr. Charles H
Healy, Miss. Hanora "Nora"
Andrews, Miss. Kornelia Theodosia
Lindblom, Miss. Augusta Charlotta
Parkes, Mr. Francis "Frank"
Rice, Master. Eric
Abbott, Mrs. Stanton (Rosa Hunt)
Duane, Mr. Frank
Olsson, Mr. Nils Johan Goransson
de Pelsmaeker, Mr. Alfons
Dorking, Mr. Edward Arthur
Smith, Mr. Richard William
Stankovic, Mr. Ivan
de Mulder, Mr. Theodore
Naidenoff, Mr. Penko
Hosono, Mr. Masabumi
Connolly, Miss. Kate
Barber, Miss. Ellen "Nellie"
Bishop, Mrs. Dickinson H (Helen Walton)
Levy, Mr. Rene Jacques
Haas, Miss. Aloisia
Mineff, Mr. Ivan
Lewy, Mr. Ervin G
Hanna, Mr. Mansour
Allison, Miss. Helen Loraine
Saalfeld, Mr. Adolphe
Baxter, Mrs. James (Helene DeLaudeniere Chaput)
Kelly, Miss. Anna Katherine "Annie Kate"
McCoy, Mr. Bernard
Johnson, Mr. William Cahoone Jr
Keane, Miss. Nora A
Williams, Mr. Howard Hugh "Harry"
Allison, Master. Hudson Trevor
Fleming, Miss. Margaret
Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)
Abelson, Mr. Samuel
Francatelli, Miss. Laura Mabel
Hays, Miss. Margaret Bechstein
Ryerson, Miss. Emily Borie
Lahtinen, Mrs. William (Anna Sylfven)
Hendekovic, Mr. Ignjac
Hart, Mr. Benjamin
Nilsson, Miss. Helmina Josefina
Kantor, Mrs. Sinai (Miriam Sternin)
Moraweck, Dr. Ernest
Wick, Miss. Mary Natalie
Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)
Dennis, Mr. Samuel
Danoff, Mr. Yoto
Slayter, Miss. Hilda Mary
Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)
Sage, Mr. George John Jr
Young, Miss. Marie Grice
Nysveen, Mr. Johan Hansen
Ball, Mrs. (Ada E Hall)
Goldsmith, Mrs. Frank John (Emily Alice Brown)
Hippach, Miss. Jean Gertrude
McCoy, Miss. Agnes
Partner, Mr. Austen
Graham, Mr. George Edward
Vander Planke, Mr. Leo Edmondus
Frauenthal, Mrs. Henry William (Clara Heinsheimer)
Denkoff, Mr. Mitto
Pears, Mr. Thomas Clinton
Burns, Miss. Elizabeth Margaret
Dahl, Mr. Karl Edwart
Blackwell, Mr. Stephen Weart
Navratil, Master. Edmond Roger
Fortune, Miss. Alice Elizabeth
Collander, Mr. Erik Gustaf
Sedgwick, Mr. Charles Frederick Waddington
Fox, Mr. Stanley Hubert
Brown, Miss. Amelia "Mildred"
Smith, Miss. Marion Elsie
Davison, Mrs. Thomas Henry (Mary E Finck)
Coutts, Master. William Loch "William"
Dimic, Mr. Jovan
Odahl, Mr. Nils Martin
Williams-Lambert, Mr. Fletcher Fellows
Elias, Mr. Tannous
Arnold-Franchi, Mr. Josef
Yousif, Mr. Wazli
Vanden Steen, Mr. Leo Peter
Bowerman, Miss. Elsie Edith
Funk, Miss. Annie Clemmer
McGovern, Miss. Mary
Mockler, Miss. Helen Mary "Ellie"
Skoog, Mr. Wilhelm
del Carlo, Mr. Sebastiano
Barbara, Mrs. (Catherine David)
Asim, Mr. Adola
O'Brien, Mr. Thomas
Adahl, Mr. Mauritz Nils Martin
Warren, Mrs. Frank Manley (Anna Sophia Atkinson)
Moussa, Mrs. (Mantoura Boulos)
Jermyn, Miss. Annie
Aubart, Mme. Leontine Pauline
Harder, Mr. George Achilles
Wiklund, Mr. Jakob Alfred
Beavan, Mr. William Thomas
Ringhini, Mr. Sante
Palsson, Miss. Stina Viola
Meyer, Mrs. Edgar Joseph (Leila Saks)
Landergren, Miss. Aurora Adelia
Widener, Mr. Harry Elkins
Betros, Mr. Tannous
Gustafsson, Mr. Karl Gideon
Bidois, Miss. Rosalie
Nakid, Miss. Maria ("Mary")
Tikkanen, Mr. Juho
Holverson, Mrs. Alexander Oskar (Mary Aline Towner)
Plotcharsky, Mr. Vasil
Davies, Mr. Charles Henry
Goodwin, Master. Sidney Leonard
Buss, Miss. Kate
Sadlier, Mr. Matthew
Lehmann, Miss. Bertha
Carter, Mr. William Ernest
Jansson, Mr. Carl Olof
Gustafsson, Mr. Johan Birger
Newell, Miss. Marjorie
Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)
Johansson, Mr. Erik
Olsson, Miss. Elina
McKane, Mr. Peter David
Pain, Dr. Alfred
Trout, Mrs. William H (Jessie L)
Niskanen, Mr. Juha
Adams, Mr. John
Jussila, Miss. Mari Aina
Hakkarainen, Mr. Pekka Pietari
Oreskovic, Miss. Marija
Gale, Mr. Shadrach
Widegren, Mr. Carl/Charles Peter
Richards, Master. William Rowe
Birkeland, Mr. Hans Martin Monsen
Lefebre, Miss. Ida
Sdycoff, Mr. Todor
Hart, Mr. Henry
Minahan, Miss. Daisy E
Cunningham, Mr. Alfred Fleming
Sundman, Mr. Johan Julian
Meek, Mrs. Thomas (Annie Louise Rowley)
Drew, Mrs. James Vivian (Lulu Thorne Christian)
Silven, Miss. Lyyli Karoliina
Matthews, Mr. William John
Van Impe, Miss. Catharina
Gheorgheff, Mr. Stanio
Charters, Mr. David
Zimmerman, Mr. Leo
Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)
Rosblom, Mr. Viktor Richard
Wiseman, Mr. Phillippe
Clarke, Mrs. Charles V (Ada Maria Winfield)
Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")
Flynn, Mr. James
Pickard, Mr. Berk (Berk Trembisky)
Bjornstrom-Steffansson, Mr. Mauritz Hakan
Thorneycroft, Mrs. Percival (Florence Kate White)
Louch, Mrs. Charles Alexander (Alice Adelaide Slow)
Kallio, Mr. Nikolai Erland
Silvey, Mr. William Baird
Carter, Miss. Lucile Polk
Ford, Miss. Doolina Margaret "Daisy"
Richards, Mrs. Sidney (Emily Hocking)
Fortune, Mr. Mark
Kvillner, Mr. Johan Henrik Johannesson
Hart, Mrs. Benjamin (Esther Ada Bloomfield)
Hampe, Mr. Leon
Petterson, Mr. Johan Emil
Reynaldo, Ms. Encarnacion
Johannesen-Bratthammer, Mr. Bernt
Dodge, Master. Washington
Mellinger, Miss. Madeleine Violet
Seward, Mr. Frederic Kimber
Baclini, Miss. Marie Catherine
Peuchen, Major. Arthur Godfrey
West, Mr. Edwy Arthur
Hagland, Mr. Ingvald Olai Olsen
Foreman, Mr. Benjamin Laventall
Goldenberg, Mr. Samuel L
Peduzzi, Mr. Joseph
Jalsevac, Mr. Ivan
Millet, Mr. Francis Davis
Kenyon, Mrs. Frederick R (Marion)
Toomey, Miss. Ellen
O'Connor, Mr. Maurice
Anderson, Mr. Harry
Morley, Mr. William
Gee, Mr. Arthur H
Milling, Mr. Jacob Christian
Maisner, Mr. Simon
Goncalves, Mr. Manuel Estanslas
Campbell, Mr. William
Smart, Mr. John Montgomery
Scanlan, Mr. James
Baclini, Miss. Helene Barbara
Keefe, Mr. Arthur
Cacic, Mr. Luka
West, Mrs. Edwy Arthur (Ada Mary Worth)
Jerwan, Mrs. Amin S (Marie Marthe Thuillard)
Strandberg, Miss. Ida Sofia
Clifford, Mr. George Quincy
Renouf, Mr. Peter Henry
Braund, Mr. Lewis Richard
Karlsson, Mr. Nils August
Hirvonen, Miss. Hildur E
Goodwin, Master. Harold Victor
Frost, Mr. Anthony Wood "Archie"
Rouse, Mr. Richard Henry
Turkula, Mrs. (Hedwig)
Bishop, Mr. Dickinson H
Lefebre, Miss. Jeannie
Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)
Kent, Mr. Edward Austin
Somerton, Mr. Francis William
Coutts, Master. Eden Leslie "Neville"
Hagland, Mr. Konrad Mathias Reiersen
Windelov, Mr. Einar
Molson, Mr. Harry Markland
Artagaveytia, Mr. Ramon
Stanley, Mr. Edward Roland
Yousseff, Mr. Gerious
Eustis, Miss. Elizabeth Mussey
Shellard, Mr. Frederick William
Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
Svensson, Mr. Olof
Calic, Mr. Petar
Canavan, Miss. Mary
O'Sullivan, Miss. Bridget Mary
Laitinen, Miss. Kristina Sofia
Maioni, Miss. Roberta
Penasco y Castellana, Mr. Victor de Satode
Quick, Mrs. Frederick Charles (Jane Richards)
Bradley, Mr. George ("George Arthur Brayton")
Olsen, Mr. Henry Margido
Lang, Mr. Fang
Daly, Mr. Eugene Patrick
Webber, Mr. James
McGough, Mr. James Robert
Rothschild, Mrs. Martin (Elizabeth L. Barrett)
Coleff, Mr. Satio
Walker, Mr. William Anderson
Lemore, Mrs. (Amelia Milley)
Ryan, Mr. Patrick
Angle, Mrs. William A (Florence "Mary" Agnes Hughes)
Pavlovic, Mr. Stefo
Hoyt, Mr. Frederick Maxfield
Vovk, Mr. Janko
Lahoud, Mr. Sarkis
Hippach, Mrs. Louis Albert (Ida Sophia Fischer)
Kassem, Mr. Fared
Farrell, Mr. James
Ridsdale, Miss. Lucy
Farthing, Mr. John
Salonen, Mr. Johan Werner
Hocking, Mr. Richard George
Quick, Miss. Phyllis May
Toufik, Mr. Nakli
Elias, Mr. Joseph Jr
Peter, Mrs. Catherine (Catherine Rizk)
Cacic, Miss. Marija
Hart, Miss. Eva Miriam
Butt, Major. Archibald Willingham
LeRoy, Miss. Bertha
Risien, Mr. Samuel Beard
Frolicher, Miss. Hedwig Margaritha
Crosby, Miss. Harriet R
Andersson, Miss. Ingeborg Constanzia
Andersson, Miss. Sigrid Elisabeth
Beane, Mr. Edward
Douglas, Mr. Walter Donald
Nicholson, Mr. Arthur Ernest
Beane, Mrs. Edward (Ethel Clarke)
Padro y Manent, Mr. Julian
Goldsmith, Mr. Frank John
Davies, Master. John Morgan Jr
Thayer, Mr. John Borland Jr
Sharp, Mr. Percival James R
O'Brien, Mr. Timothy
Leeni, Mr. Fahim ("Philip Zenni")
Ohman, Miss. Velin
Wright, Mr. George
Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")
Robbins, Mr. Victor
Taussig, Mrs. Emil (Tillie Mandelbaum)
de Messemaeker, Mrs. Guillaume Joseph (Emma)
Morrow, Mr. Thomas Rowan
Sivic, Mr. Husein
Norman, Mr. Robert Douglas
Simmons, Mr. John
Meanwell, Miss. (Marion Ogden)
Davies, Mr. Alfred J
Stoytcheff, Mr. Ilia
Palsson, Mrs. Nils (Alma Cornelia Berglund)
Doharr, Mr. Tannous
Jonsson, Mr. Carl
Harris, Mr. George
Appleton, Mrs. Edward Dale (Charlotte Lamson)
Flynn, Mr. John Irwin ("Irving")
Kelly, Miss. Mary
Rush, Mr. Alfred George John
Patchett, Mr. George
Garside, Miss. Ethel
Silvey, Mrs. William Baird (Alice Munger)
Caram, Mrs. Joseph (Maria Elias)
Jussila, Mr. Eiriik
Christy, Miss. Julie Rachel
Thayer, Mrs. John Borland (Marian Longstreth Morris)
Downton, Mr. William James
Ross, Mr. John Hugo
Paulner, Mr. Uscher
Taussig, Miss. Ruth
Jarvis, Mr. John Denzil
Frolicher-Stehli, Mr. Maxmillian
Gilinski, Mr. Eliezer
Murdlin, Mr. Joseph
Rintamaki, Mr. Matti
Stephenson, Mrs. Walter Bertram (Martha Eustis)
Elsbury, Mr. William James
Bourke, Miss. Mary
Chapman, Mr. John Henry
Van Impe, Mr. Jean Baptiste
Leitch, Miss. Jessie Wills
Johnson, Mr. Alfred
Boulos, Mr. Hanna
Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")
Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)
Slabenoff, Mr. Petco
Harrington, Mr. Charles H
Torber, Mr. Ernst William
Homer, Mr. Harry ("Mr E Haven")
Lindell, Mr. Edvard Bengtsson
Karaic, Mr. Milan
Daniel, Mr. Robert Williams
Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)
Shutes, Miss. Elizabeth W
Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)
Jardin, Mr. Jose Neto
Murphy, Miss. Margaret Jane
Horgan, Mr. John
Brocklebank, Mr. William Alfred
Herman, Miss. Alice
Danbom, Mr. Ernst Gilbert
Lobb, Mrs. William Arthur (Cordelia K Stanlick)
Becker, Miss. Marion Louise
Gavey, Mr. Lawrence
Yasbeck, Mr. Antoni
Kimball, Mr. Edwin Nelson Jr
Nakid, Mr. Sahid
Hansen, Mr. Henry Damsgaard
Bowen, Mr. David John "Dai"
Sutton, Mr. Frederick
Kirkland, Rev. Charles Leonard
Longley, Miss. Gretchen Fiske
Bostandyeff, Mr. Guentcho
O'Connell, Mr. Patrick D
Barkworth, Mr. Algernon Henry Wilson
Lundahl, Mr. Johan Svensson
Stahelin-Maeglin, Dr. Max
Parr, Mr. William Henry Marsh
Skoog, Miss. Mabel
Davis, Miss. Mary
Leinonen, Mr. Antti Gustaf
Collyer, Mr. Harvey
Panula, Mrs. Juha (Maria Emilia Ojala)
Thorneycroft, Mr. Percival
Jensen, Mr. Hans Peder
Sagesser, Mlle. Emma
Skoog, Miss. Margit Elizabeth
Foo, Mr. Choong
Baclini, Miss. Eugenie
Harper, Mr. Henry Sleeper
Cor, Mr. Liudevit
Simonius-Blumer, Col. Oberst Alfons
Willey, Mr. Edward
Stanley, Miss. Amy Zillah Elsie
Mitkoff, Mr. Mito
Doling, Miss. Elsie
Kalvik, Mr. Johannes Halvorsen
O'Leary, Miss. Hanora "Norah"
Hegarty, Miss. Hanora "Nora"
Hickman, Mr. Leonard Mark
Radeff, Mr. Alexander
Bourke, Mrs. John (Catherine)
Eitemiller, Mr. George Floyd
Newell, Mr. Arthur Webster
Frauenthal, Dr. Henry William
Badt, Mr. Mohamed
Colley, Mr. Edward Pomeroy
Coleff, Mr. Peju
Lindqvist, Mr. Eino William
Hickman, Mr. Lewis
Butler, Mr. Reginald Fenton
Rommetvedt, Mr. Knud Paust
Cook, Mr. Jacob
Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)
Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)
Davidson, Mr. Thornton
Mitchell, Mr. Henry Michael
Wilhelms, Mr. Charles
Watson, Mr. Ennis Hastings
Edvardsson, Mr. Gustaf Hjalmar
Sawyer, Mr. Frederick Charles
Turja, Miss. Anna Sofia
Hoytt, Mr. Frederick Maxfield
Cardeza, Mr. Thomas Drake Martinez
Peters, Miss. Katie
Hassab, Mr. Hammad
Olsvigen, Mr. Thor Anderson
Goodwin, Mr. Charles Edward
Brown, Mr. Thomas William Solomon
Laroche, Mr. Joseph Philippe Lemercier
Panula, Mr. Jaako Arnold
Dakic, Mr. Branko
Fischer, Mr. Eberhard Thelander
Madill, Miss. Georgette Alexandra
Dick, Mr. Albert Adrian
Karun, Miss. Manca
Lam, Mr. Ali
Saad, Mr. Khalil
Weir, Col. John
Chapman, Mr. Charles Henry
Kelly, Mr. James
Mullens, Miss. Katherine "Katie"
Thayer, Mr. John Borland
Humblen, Mr. Adolf Mathias Nicolai Olsen
Astor, Mrs. John Jacob (Madeleine Talmadge Force)
Silverthorne, Mr. Spencer Victor
Barbara, Miss. Saiide
Gallagher, Mr. Martin
Hansen, Mr. Henrik Juul
Morley, Mr. Henry Samuel ("Mr Henry Marshall")
Kelly, Mrs. Florence "Fannie"
Calderhead, Mr. Edward Pennington
Cleaver, Miss. Alice
Moubarek, Master. Halim Gonios ("William George")
Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")
Klaber, Mr. Herman
Taylor, Mr. Elmer Zebley

Taka przezentacja danych i szybkie ich przeglądnięcie może pokazać kilka problemów znajdujścych się w danych.

In [10]:
df[(df['Name'] == "Mr. Frederick Maxfield Hoyt") | (df['Name'] == "Sandstrom, Miss. Marguerite Ru&5$$")]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ship
10,11,1,3,"Sandstrom, Miss. Marguerite Ru&5$$",female,4,1,1,PP 9549,"16,7",G6,S,Titanic
13,11,1,3,"Sandstrom, Miss. Marguerite Ru&5$$",female,4,1,1,PP 9549,"16,7",G6,S,Titanic
23,11,1,3,"Sandstrom, Miss. Marguerite Ru&5$$",female,4,1,1,PP 9549,"16,7",G6,S,Titanic
891,1000,1,1,Mr. Frederick Maxfield Hoyt,male,38,1,0,19943,90,C93,S,Titanic

Na podstawie zapytania odwołując się do powtarzających się wartości można uzyskać informację o tym, że PassengerId nie jest wartością unikatową i powtarza się dla kilku wierszy. Wiersze te posiadają tożsame wartości i należałoby je zniwelować.

In [11]:
df['PassengerId'].value_counts()

225    3
11     3
295    1
306    1
305    1
      ..
592    1
591    1
590    1
589    1
1      1
Name: PassengerId, Length: 888, dtype: int64

Korzystając z poprzedniego wypisania, można było sprawdzić jak wygląda sprawa dla parametru PassengerId.

In [12]:
df[(df['PassengerId'] == 11) | (df['PassengerId'] == 225)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,ship
10,11,1,3,"Sandstrom, Miss. Marguerite Ru&5$$",female,4,1,1,PP 9549,"16,7",G6,S,Titanic
13,11,1,3,"Sandstrom, Miss. Marguerite Ru&5$$",female,4,1,1,PP 9549,"16,7",G6,S,Titanic
23,11,1,3,"Sandstrom, Miss. Marguerite Ru&5$$",female,4,1,1,PP 9549,"16,7",G6,S,Titanic
224,225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38,1,0,19943,90,C93,S,Titanic
520,225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38,1,0,19943,90,C93,S,Titanic
678,225,1,1,"Hoytt, Mr. Frederick Maxfield",male,38,1,0,19943,90,C93,S,Titanic

Wypisując te dane można zobserwować, że dane te są niepoprawnie formatowane i dodatkowo można pokusić się o ich weryfikacje w sposób kompleksowy aby pozbyć się duplikatów i pomyłek.

In [13]:
df['Sex'].value_counts()

male       576
female     312
femmale      1
mal          1
fem          1
malef        1
Name: Sex, dtype: int64

Sprawdzenie wartości dla zmiennej Sex obrazuje nam, że w przypasku tej kolumny występują różne wartości dla określenia płci męskiej oraz żeńskiej. Należało by ujednolicić zapis.

In [14]:
df['Age'].value_counts()

24      30
22      27
18      26
19      25
30      24
        ..
.9       1
55,5     1
24,5     1
36,5     1
34,5     1
Name: Age, Length: 93, dtype: int64

Wypisanie wartości dla zmiennej Age nie daje nam za dużo informacji. Można jednak zauważyć problemy z formatowniem. Znaki , oraz . są stosowane zamiennie i mogą sprawiać problemy przy poprawnych obliczeniach i analizach. Dodatkowo można by sprawdzić czy zmienna ta nie przechowuje wartości nieodpowiednich. Wartości poniżej 0 oraz powyżej 100 można uznać za niepoprawne.

In [15]:
for i in df.index:
    print(df.at[i, 'Age'])

22
38
26
35
35
nan
54
2
27
14
4
58
20
4
14
55
2
nan
31
nan
35
34
15
4
8
38
nan
19
nan
nan
40
.9
nan
66
28
42
nan
21
18
14
40
27
nan
3
19
nan
nan
nan
nan
18
7
21
49
29
65
nan
21
28,5
5
11
22
38
45
4
nan
nan
29
19
17
26
32
16
21
26
32
25
nan
nan
0,83
30
22
29
nan
28
17
33
16
nan
23
24
29
20
46
26
59
nan
71
23
34
34
28
nan
21
33
37
28
21
nan
38
nan
47
14,5
22
20
17
21
70,5
29
24
2
21
nan
32,5
32,5
54
12
nan
24
nan
45
33
20
47
29
25
23
19
37
16
24
nan
22
24
19
18
19
27
9
36,5
42
51
22
55,5
40,5
nan
51
16
30
nan
nan
44
40
26
17
1
9
nan
45
nan
28
61
4
1
21
56
18
nan
50
30
36
nan
nan
9
1
4
nan
nan
45
40
36
32
19
19
3
44
58
nan
42
nan
24
28
nan
34
45,5
18
2
32
26
16
40
24
35
22
30
nan
31
27
42
32
30
16
27
51
4435
38
22
19
20,5
18
nan
35
29
59
5
24
nan
44
8
19
33
nan
nan
29
22
30
44
25
24
37
54
nan
29
62
30
41
29
nan
30
35
50
nan
3
52
40
nan
36
16
25
58
35
nan
25
41
37
nan
63
45
nan
7
35
65
28
16
19
nan
33
30
22
42
22
26
19
36
24
24
nan
23,5
2
nan
50
nan
nan
19
nan
nan
0,92
nan
17
30
30
24
18
26
28
43
26
24
54
31
40
22
27
30
22
nan
36
61
36
31
16
nan
45,5
38
16
nan
nan
29
41
45
45
2
24
28
25
36
24
40
nan
3
42
23
nan
15
25
nan
28
22
38
nan
nan
40
29
45
35
nan
30
60
nan
nan
24
25
18
19
22
3
nan
22
27
20
19
42
1
32
35
nan
18
1
36
nan
17
36
21
28
23
24
22
31
46
23
28
39
26
21
28
20
34
51
3
21
nan
nan
nan
33
nan
44
nan
34
18
30
10
nan
21
29
28
18
nan
28
19
nan
32
28
nan
42
17
50
14
21
24
64
31
45
20
25
28
nan
4
13
34
5
52
36
nan
30
49
nan
29
65
nan
50
nan
48
34
47
48
nan
38
nan
56
nan
0,75
nan
38
33
23
22
nan
34
29
22
2
9
nan
50
63
25
nan
35
58
30
9
nan
21
55
71
21
nan
54
nan
25
24
17
21
nan
37
16
18
33
-3
28
26
29
nan
36
54
24
47
34
nan
36
32
38
22
-12
44
nan
40,5
50
nan
39
23
2
nan
17
nan
30
7
45
30
nan
22
36
9
11
32
50
64
19
nan
33
8
17
27
nan
22
22
62
48
nan
39
36
nan
40
28
nan
nan
24
19
29
nan
32
62
53
36
nan
16
19
34
39
nan
32
25
39
54
36
nan
18
47
60
22
nan
35
52
47
nan
37
36
nan
49
nan
49
24
nan
nan
44
35
36
30
27
22
40
39
nan
nan
nan
35
24
34
26
4
26
27
42
20
21
21
61
57
21
26
nan
80
51
32
nan
9
28
32
31
41
nan
20
24
2
nan
0,75
48
19
56
nan
23
nan
18
21
nan
18
24
nan
32
23
58
50
40
47
36
20
32
250
nan
43
nan
40
31
70
31
nan
18
24,5
18
38
36
nan
27
20
14
60
25
14
19
18
15
31
4
nan
25
60
52
44
nan
49
42
18
35
18
25
26
39
45
42
22
nan
24
nan
48
29
52
19
38
27
nan
33
6
17
34
50
27
20
30
nan
25
25
29
11
nan
23
23
28,5
48
35
nan
nan
nan
36
21
24
31
70
16
30
19
31
4
6
33
23
48
0,67
28
18
34
33
nan
41
20
36
16
51
nan
30,5
nan
32
24
48
57
nan
54
18
nan
5
nan
43
13
17
29
nan
25
25
18
8
1
46
nan
16
nan
nan
25
39
49
31
30
30
34
31
11
0,42
27
31
39
18
39
33
26
39
35
6
30,5
nan
23
31
43
10
52
27
38
27
2
nan
nan
1
nan
62
15
0,83
nan
23
18
39
21
nan
32
nan
20
16
30
34,5
17
42
nan
35
28
nan
4
74
9
16
44
18
45
51
24
nan
41
21
48
nan
24
42
27
31
nan
4
26
47
33
47
28
15
20
19
nan
56
25
33
22
28
25
39
27
19
nan
26
32
38

Dzięki temu wypisaniu wartości możemy w lepszy sposób zaobserwować wspomniane wcześniej problemy z danymi przechowywanymi w kolumnie Age

In [16]:
df['SibSp'].value_counts()

0    606
1    212
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

Kolumna SibSp przedstawia ilość rodzeństwa oraz małżonków. Dane nie wydają się niepoprawne.

In [17]:
df['Parch'].value_counts()

0    679
1    120
2     80
3      5
5      4
4      4
Name: Parch, dtype: int64

Kolumna Parch przedstawia ilość rodziców oraz dzieci. Dane nie wydają się niepoprawne.

In [18]:
df['Ticket'].value_counts()

1601          7
CA. 2343      7
347082        6
3101295       6
347088        6
             ..
C.A. 18723    1
17764         1
347071        1
113767        1
341826        1
Name: Ticket, Length: 680, dtype: int64

Wartości kolumny Ticket są tak różne, że należałoby się zastanowić czy jest ona konieczna do naszej analizy.

In [19]:
df['Fare'].value_counts()

8,05       43
13         42
7,8958     38
7,75       34
26         31
           ..
55,4417     1
22,025      1
7,7292      1
9,8417      1
9,8458      1
Name: Fare, Length: 250, dtype: int64

W przypadku Fare można zaobserwować nierewgularny sposób formatowania, dodatkowo najprzwdopodobniej występuje w niej problem ze znakami , oraz .

In [20]:
for i in df.index:
    print(df.at[i, 'Fare'])

7,25
71,2833
7,925
53,1
8,05
8,4583
51,8625
21,075
11,1333
30,0708
16,7
26,55
8,05
16,7
7,8542
16
29,125
13
18
7,225
26
13
8,0292
16,7
21,075
31,3875
7,225
263
7,8792
7,8958
27,7208
146,5208
7,75
10,5
82,1708
52
7,2292
8,05
18
11,2417
9,475
21
7,8958
41,5792
7,8792
8,05
15,5
7,75
21,6792
17,8
39,6875
7,8
76,7292
26
61,9792
35,5
10,5
7,2292
27,75
46,9
7,2292
80
83,475
27,9
27,7208
15,2458
10,5
8,1583
7,925
8,6625
10,5
46,9
73,5
14,4542
56,4958
7,65
7,8958
8,05
29
12,475
9
9,5
7,7875
47,1
10,5
15,85
34,375
8,05
263
8,05
8,05
7,8542
61,175
20,575
7,25
8,05
34,6542
63,3583
23
26
7,8958
7,8958
77,2875
8,6542
7,925
7,8958
7,65
7,775
7,8958
24,15
52
14,4542
8,05
9,825
14,4583
7,925
7,75
21
247,5208
31,275
73,5
8,05
30,0708
13
77,2875
11,2417
7,75
7,1417
22,3583
6,975
7,8958
7,05
14,5
26
13
15,0458
26,2833
53,1
9,2167
79,2
15,2458
7,75
15,85
6,75
11,5
36,75
7,7958
34,375
26
13
12,525
66,6
8,05
14,5
7,3125
61,3792
7,7333
8,05
8,6625
69,55
16,1
15,75
7,775
8,6625
39,6875
20,525
55
27,9
25,925
56,4958
33,5
29,125
11,1333
7,925
30,6958
7,8542
25,4667
28,7125
13
0
69,55
15,05
31,3875
39
22,025
50
15,5
26,55
15,5
7,8958
13
13
7,8542
26
27,7208
146,5208
7,75
8,4042
7,75
13
9,5
69,55
6,4958
7,225
8,05
10,4625
15,85
18,7875
7,75
31
7,05
21
7,25
13
7,75
113,275
7,925
27
76,2917
10,5
8,05
13
8,05
7,8958
90
9,35
10,5
7,25
13
25,4667
83,475
7,775
13,5
31,3875
10,5
7,55
26
26,25
10,5
12,275
14,4542
15,5
10,5
7,125
7,225
-90
7,775
14,5
52,5542
26
7,25
10,4625
26,55
16,1
20,2125
15,2458
79,2
86,5
512,3292
26
7,75
31,3875
79,65
0
7,75
10,5
39,6875
7,775
153,4625
135,6333
31
0
19,5
29,7
7,75
77,9583
7,75
0
29,125
20,25
7,75
7,8542
9,5
8,05
26
8,6625
9,5
7,8958
13
7,75
78,85
91,0792
12,875
8,85
7,8958
27,7208
7,2292
151,55
30,5
247,5208
7,75
23,25
0
12,35
8,05
151,55
110,8833
108,9
24
56,9292
83,1583
262,375
26
7,8958
26,25
7,8542
26
14
164,8667
134,5
7,25
7,8958
12,35
29
69,55
135,6333
6,2375
13
20,525
57,9792
23,25
28,5
153,4625
18
133,65
7,8958
66,6
134,5
8,05
35,5
26
263
13
13
13
13
13
16,1
15,9
8,6625
9,225
35
7,2292
17,8
7,225
9,5
55
13
7,8792
7,8792
27,9
27,7208
14,4542
7,05
15,5
7,25
75,25
7,2292
7,75
69,3
55,4417
6,4958
8,05
135,6333
21,075
82,1708
7,25
211,5
4,0125
7,775
227,525
15,7417
7,925
52
7,8958
73,5
46,9
13
7,7292
12
120
7,7958
7,925
113,275
16,7
7,7958
7,8542
26
10,5
12,65
7,925
8,05
9,825
15,85
8,6625
21
7,75
18,75
7,775
25,4667
7,8958
6,8583
90
0
7,925
8,05
32,5
13
13
24,15
7,8958
7,7333
7,875
14,4
20,2125
7,25
26
26
7,75
8,05
26,55
16,1
26
7,125
55,9
120
34,375
18,75
263
10,5
26,25
9,5
7,775
13
8,1125
81,8583
19,5
26,55
19,2583
30,5
27,75
19,9667
27,75
89,1042
8,05
7,8958
26,55
51,8625
10,5
7,75
26,55
8,05
38,5
13
8,05
7,05
0
26,55
7,725
19,2583
7,25
8,6625
27,75
13,7917
9,8375
52
21
7,0458
7,5208
12,2875
46,9
0
8,05
9,5875
91,0792
25,4667
90
29,7
8,05
15,9a
19,9667
7,25
30,5
49,5042
8,05
14,4583
78,2667
15,1
151,55
7,7958
8,6625
7,75
7,6292
9,5875
86,5
108,9
26
26,55
22,525
56,4958
7,75
8,05
26,2875
59,4
7,4958
34,0208
10,5
24,15
26
7,8958
90
7,8958
7,225
57,9792
7,2292
7,75
10,5
221,7792
7,925
11,5
26
7,2292
7,2292
22,3583
8,6625
26,25
26,55
106,425
14,5
49,5
71
31,275
31,275
26
106,425
26
26
13,8625
20,525
36,75
110,8833
26
7,8292
7,225
7,775
26,55
39,6
227,525
79,65
17,4
7,75
7,8958
13,5
8,05
8,05
24,15
7,8958
21,075
7,2292
7,8542
10,5
51,4792
26,3875
7,75
8,05
14,5
13
55,9
14,4583
7,925
30
110,8833
26
40,125
8,7125
79,65
15
79,2
8,05
8,05
7,125
78,2667
7,25
7,75
26
24,15
33
0
7,225
56,9292
27
7,8958
42,4
8,05
26,55
15,55
7,8958
30,5
41,5792
153,4625
31,275
7,05
15,5
7,75
8,05
65
14,4
16,1
39
10,5
14,4542
52,5542
15,7417
7,8542
16,1
32,3208
12,35
77,9583
7,8958
7,7333
30
7,0542
30,5
0
27,9
13
7,925
26,25
39,6875
16,1
7,8542
69,3
27,9
56,4958
19,2583
76,7292
7,8958
35,5
7,55
7,55
7,8958
23
8,4333
7,8292
6,75
73,5
7,8958
15,5
13
113,275
133,65
7,225
25,5875
7,4958
7,925
73,5
13
7,775
8,05
52
39
52
10,5
13
0
7,775
8,05
9,8417
90
512,3292
8,1375
76,7292
9,225
46,9
39
41,5792
39,6875
10,1708
7,7958
211,3375
57
13,4167
56,4958
7,225
26,55
13,5
8,05
7,7333
110,8833
7,65
227,525
26,2875
14,4542
7,7417
7,8542
26
13,5
26,2875
151,55
15,2458
49,5042
26,55
52
9,4833
13
7,65
227,525
10,5
15,5
7,775
33
7,0542
13
13
53,1
8,6625
21
7,7375
26
7,925
211,3375
18,7875
0
13
13
16,1
34,375
512,3292
7,8958
7,8958
30
78,85
262,375
16,1
7,925
71
20,25
13
53,1
7,75
23
12,475
9,5
7,8958
65
14,5
7,7958
11,5
8,05
86,5
14,5
7,125
7,2292
120
7,775
77,9583
39,6
7,75
24,15
8,3625
9,5
7,8542
10,5
7,225
23
7,75
7,75
12,475
7,7375
211,3375
7,2292
57
30
23,45
7,05
7,25
7,4958
29,125
20,575
79,2
7,75
26
69,55
30,6958
7,8958
13
25,9292
8,6833
7,2292
24,15
13
26,25
120
8,5167
6,975
7,775
0
7,775
13
53,1
7,8875
24,15
10,5
31,275
8,05
0
7,925
37,0042
6,45
27,9
93,5
8,6625
0
12,475
39,6875
6,95
56,4958
37,0042
7,75
80
14,4542
18,75
7,2292
7,8542
8,3
83,1583
8,6625
8,05
56,4958
29,7
7,925
10,5
31
6,4375
8,6625
7,55
69,55
7,8958
33
89,1042
31,275
7,775
15,2458
39,4
26
9,35
164,8667
26,55
19,2583
7,2292
14,1083
11,5
25,9292
69,55
13
13
13,8583
50,4958
9,5
11,1333
7,8958
52,5542
5
9
24
7,225
9,8458
7,8958
7,8958
83,1583
26
7,8958
10,5167
10,5
7,05
29,125
13
30
23,45
30
7,75
90

Faktycznie problemy założone w poprzednim kroku występują w tej kolumnie i konieczne będzie podjęcie działąń w celu jej napawy.

In [21]:
df['Embarked'].value_counts()

S     643
C     167
Q      76
So      2
Qe      1
Co      1
Name: Embarked, dtype: int64

Embarked natomiast pokazuje problem podobny do tego z kolumny Sex, zawiera ona różne wartości dla określenia tych samych danych.

In [22]:
df['ship'].value_counts()

Titanic    892
Name: ship, dtype: int64

Wartość ship nie wnosi nic do zbiru danych. Wszystkie wartości tej kolumny są jednakowe, każdy z pasażerów był gościem statku Titanic.

In [23]:
df.columns= df.columns.str.strip().str.lower()
df.rename(columns = {'passengerid': 'passenger_id','sibsp':'siblings_spouses','parch': 'parents_children'}, inplace = True)

Pierwszym krokiem poprawy prezentowania danych będzie zmiana nazw przedstawionych kolumn na małe litery oraz poprawa nazewnictwa tak aby była ona bardziej zrozumiała dla dalszych kroków oraz analizy danych.

Następne kroki dotyczyły unormowania zapisu przedstawionego w kolumnie name.

In [24]:
for i in df.index:
    text = df.name.values[i]
    left_text = text.partition(", ")[0]
    right_text = text.partition(",")[2]
    df.name.values[i] = right_text + " " + left_text

In [25]:
df['name'] = df['name'].str.replace(r'[^\w\s]\d+', '')

In [26]:
for i in df.index:
    print(df.at[i, 'name'])

 Mr. Owen Harris Braund
 Mrs. John Bradley (Florence Briggs Thayer) Cumings
 Miss. Laina Heikkinen
 Mrs. Jacques Heath (Lily May Peel) Futrelle
 Mr. William Henry Allen
 Mr. James Moran
 Mr. Timothy J McCarthy
 Master. Gosta Leonard Palsson
 Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson
 Mrs. Nicholas (Adele Achem) Nasser
 Miss. Marguerite Ru$$ Sandstrom
 Miss. Elizabeth Bonnell
 Mr. William Henry Saundercock
 Miss. Marguerite Ru$$ Sandstrom
 Miss. Hulda Amanda Adolfina Vestrom
 Mrs. (Mary D Kingcome) Hewlett
 Master. Eugene Rice
 Mr. Charles Eugene Williams
 Mrs. Julius (Emelia Maria Vandemoortele) Vander Planke
 Mrs. Fatima Masselmani
 Mr. Joseph J Fynney
 Mr. Lawrence Beesley
 Miss. Anna "Annie" McGowan
 Miss. Marguerite Ru$$ Sandstrom
 Miss. Torborg Danira Palsson
 Mrs. Carl Oscar (Selma Augusta Emilia Johansson) Asplund
 Mr. Farred Chehab Emir
 Mr. Charles Alexander Fortune
 Miss. Ellen "Nellie" O'Dwyer
 Mr. Lalio Todoroff
 Don. Manuel E Uruchurtu
 Mrs. William Augustus (Marie Eugenie) Spencer
 Miss. Mary Agatha Glynn
 Mr. Edward H Wheadon
 Mr. Edgar Joseph Meyer
 Mr. Alexander Oskar Holverson
 Mr. Hanna Mamee
 Mr. Ernest Charles Cann
 Miss. Augusta Maria Vander Planke
 Miss. Jamila Nicola-Yarred
 Mrs. Johan (Johanna Persdotter Larsson) Ahlin
 Mrs. William John Robert (Dorothy Ann Wonnacott) Turpin
 Mr. Theodor Kraeff
 Miss. Simonne Marie Anne Andree Laroche
 Miss. Margaret Delia Devaney
 Mr. William John Rogers
 Mr. Denis Lennon
 Miss. Bridget O'Driscoll
 Mr. Youssef Samaan
 Mrs. Josef (Josefine Franchi) Arnold-Franchi
 Master. Juha Niilo Panula
 Mr. Richard Cater Nosworthy
 Mrs. Henry Sleeper (Myna Haxtun) Harper
 Mrs. Lizzie (Elizabeth Anne Wilkinson) Faunthorpe
 Mr. Engelhart Cornelius Ostby
 Mr. Hugh Woolner
 Miss. Emily Rugg
 Mr. Mansouer Novel
 Miss. Constance Mirium West
 Master. William Frederick Goodwin
 Mr. Orsen Sirayanian
 Miss. Amelie Icard
 Mr. Henry Birkhardt Harris
 Master. Harald Skoog
 Mr. Albert A Stewart
 Master. Gerios Moubarek
 Mrs. (Elizabeth Ramell) Nye
 Mr. Ernest James Crease
 Miss. Erna Alexandra Andersson
 Mr. Vincenz Kink
 Mr. Stephen Curnow Jenkin
 Miss. Lillian Amy Goodwin
 Mr. Ambrose Jr Hood
 Mr. Apostolos Chronopoulos
 Mr. Lee Bing
 Mr. Sigurd Hansen Moen
 Mr. Ivan Staneff
 Mr. Rahamin Haim Moutal
 Master. Alden Gates Caldwell
 Miss. Elizabeth Dowdell
 Mr. Achille Waelens
 Mr. Jan Baptist Sheerlinck
 Miss. Brigdet Delia McDermott
 Mr. Francisco M Carrau
 Miss. Bertha Ilett
 Mrs. Karl Alfred (Maria Mathilda Gustafsson) Backstrom
 Mr. William Neal Ford
 Mr. Selman Francis Slocovski
 Miss. Mabel Helen Fortune
 Mr. Francesco Celotti
 Mr. Emil Christmann
 Mr. Paul Edvin Andreasson
 Mr. Herbert Fuller Chaffee
 Mr. Bertram Frank Dean
 Mr. Daniel Coxon
 Mr. Charles Joseph Shorney
 Mr. George B Goldschmidt
 Mr. William Bertram Greenfield
 Mrs. John T (Ada Julia Bone) Doling
 Mr. Sinai Kantor
 Miss. Matilda Petranec
 Mr. Pastcho ("Pentcho") Petroff
 Mr. Richard Frasar White
 Mr. Gustaf Joel Johansson
 Mr. Anders Vilhelm Gustafsson
 Mr. Stoytcho Mionoff
 Miss. Anna Kristine Salkjelsvik
 Mr. Albert Johan Moss
 Mr. Tido Rekic
 Miss. Bertha Moran
 Mr. Walter Chamberlain Porter
 Miss. Hileni Zabour
 Mr. David John Barton
 Miss. Katriina Jussila
 Miss. Malake Attalah
 Mr. Edvard Pekoniemi
 Mr. Patrick Connors
 Mr. William John Robert Turpin
 Mr. Quigg Edmond Baxter
 Miss. Ellis Anna Maria Andersson
 Mr. Stanley George Hickman
 Mr. Leonard Charles Moore
 Mr. Nicholas Nasser
 Miss. Susan Webber
 Mr. Percival Wayland White
 Master. Elias Nicola-Yarred
 Mr. Martin McMahon
 Mr. Fridtjof Arne Madsen
 Miss. Anna Peter
 Mr. Johan Ekstrom
 Mr. Jozef Drazenoic
 Mr. Domingos Fernandeo Coelho
 Mrs. Alexander A (Grace Charity Laury) Robins
 Mrs. Leopold (Mathilde Francoise Pede) Weisz
 Mr. Samuel James Hayden Sobey
 Mr. Emile Richard
 Miss. Helen Monypeny Newsom
 Mr. Jacques Heath Futrelle
 Mr. Olaf Elon Osen
 Mr. Victor Giglio
 Mrs. Joseph (Sultana) Boulos
 Miss. Anna Sofia Nysten
 Mrs. Pekka Pietari (Elin Matilda Dolck) Hakkarainen
 Mr. Jeremiah Burke
 Mr. Edgardo Samuel Andrew
 Mr. Joseph Charles Nicholls
 Mr. August Edvard ("Wennerstrom") Andersson
 Miss. Robina Maggie "Ruby" Ford
 Mr. Michel ("Louis M Hoffman") Navratil
 Rev. Thomas Roussel Davids Byles
 Rev. Robert James Bateman
 Mrs. Thomas (Edith Wearne) Pears
 Mr. Alfonzo Meo
 Mr. Austin Blyler van Billiard
 Mr. Ole Martin Olsen
 Mr. Charles Duane Williams
 Miss. Katherine "Katie" Gilnagh
 Mr. Harry Corn
 Mr. Mile Smiljanic
 Master. Thomas Henry Sage
 Mr. John Hatfield Cribb
 Mrs. James (Elizabeth "Bessie" Inglis Milne) Watt
 Mr. John Viktor Bengtsson
 Mr. Jovo Calic
 Master. Eino Viljami Panula
 Master. Frank John William "Frankie" Goldsmith
 Mrs. (Edith Martha Bowerman) Chibnall
 Mrs. William (Anna Bernhardina Karlsson) Skoog
 Mr. John D Baumann
 Mr. Lee Ling
 Mr. Wyckoff Van der hoef
 Master. Arthur Rice
 Miss. Eleanor Ileen Johnson
 Mr. Antti Wilhelm Sivola
 Mr. James Clinch Smith
 Mr. Klas Albin Klasen
 Master. Henry Forbes Lefebre
 Miss. Ann Elizabeth Isham
 Mr. Reginald Hale
 Mr. Lionel Leonard
 Miss. Constance Gladys Sage
 Mr. Rene Pernot
 Master. Clarence Gustaf Hugo Asplund
 Master. Richard F Becker
 Miss. Luise Gretchen Kink-Heilmann
 Mr. Hugh Roscoe Rood
 Mrs. Thomas (Johanna "Hannah" Godfrey) O'Brien
 Mr. Charles Hallace ("Mr C Rolmane") Romaine
 Mr. John Bourke
 Mr. Stjepan Turcin
 Mrs. (Rosa) Pinsky
 Mr. William Carbines
 Miss. Carla Christine Nielsine Andersen-Jensen
 Master. Michel M Navratil
 Mrs. James Joseph (Margaret Tobin) Brown
 Miss. Elise Lurette
 Mr. Robert Mernagh
 Mr. Karl Siegwart Andreas Olsen
 Miss. Margaret "Maggie" Madigan
 Miss. Henriette ("Mrs Harbeck") Yrois
 Mr. Nestor Cyriel Vande Walle
 Mr. Frederick Sage
 Mr. Jakob Alfred Johanson
 Mr. Gerious Youseff
 Mr. Gurshon "Gus" Cohen
 Miss. Telma Matilda Strom
 Mr. Karl Alfred Backstrom
 Mr. Nassef Cassem Albimona
 Miss. Helen "Ellen" Carr
 Mr. Henry Blank
 Mr. Ahmed Ali
 Miss. Clear Annie Cameron
 Mr. John Henry Perkin
 Mr. Hans Kristensen Givard
 Mr. Philip Kiernan
 Miss. Madeleine Newell
 Miss. Eliina Honkanen
 Mr. Sidney Samuel Jacobsohn
 Miss. Albina Bazzani
 Mr. Walter Harris
 Mr. Victor Francis Sunderland
 Mr. James H Bracken
 Mr. George Henry Green
 Mr. Christo Nenkoff
 Mr. Frederick Maxfield Hoyt
 Mr. Karl Ivar Sven Berglund
 Mr. William John Mellors
 Mr. John Hall ("Henry") Lovell
 Mr. Arne Jonas Fahlstrom
 Miss. Mathilde Lefebre
 Mrs. Henry Birkhardt (Irene Wallach) Harris
 Mr. Bengt Edvin Larsson
 Mr. Ernst Adolf Sjostedt
 Miss. Lillian Gertrud Asplund
 Mr. Robert William Norman Leyson
 Miss. Alice Phoebe Harknett
 Mr. Stephen Hold
 Miss. Marjorie "Lottie" Collyer
 Mr. Frederick William Pengelly
 Mr. George Henry Hunt
 Miss. Thamine Zabour
 Miss. Katherine "Kate" Murphy
 Mr. Reginald Charles Coleridge
 Mr. Matti Alexanteri Maenpaa
 Mr. Sleiman Attalah
 Dr. William Edward Minahan
 Miss. Agda Thorilda Viktoria Lindahl
 Mrs. William (Anna) Hamalainen
 Mr. Richard Leonard Beckwith
 Rev. Ernest Courtenay Carter
 Mr. James George Reed
 Mrs. Wilhelm (Elna Matilda Persson) Strom
 Mr. William Thomas Stead
 Mr. William Arthur Lobb
 Mrs. Viktor (Helena Wilhelmina) Rosblom
 Mrs. Darwis (Hanne Youssef Razi) Touma
 Mrs. Gertrude Maybelle Thorne
 Miss. Gladys Cherry
 Miss. Anna Ward
 Mrs. (Lutie Davis) Parrish
 Mr. Thomas Smith
 Master. Edvin Rojj Felix Asplund
 Mr. Emil Taussig
 Mr. William Harrison
 Miss. Delia Henry
 Mr. David Reeves
 Mr. Ernesti Arvid Panula
 Mr. Ernst Ulrik Persson
 Mrs. William Thompson (Edith Junkins) Graham
 Miss. Amelia Bissette
 Mr. Alexander Cairns
 Mr. William Henry Tornquist
 Mrs. (Elizabeth Anne Maidment) Mellinger
 Mr. Charles H Natsch
 Miss. Hanora "Nora" Healy
 Miss. Kornelia Theodosia Andrews
 Miss. Augusta Charlotta Lindblom
 Mr. Francis "Frank" Parkes
 Master. Eric Rice
 Mrs. Stanton (Rosa Hunt) Abbott
 Mr. Frank Duane
 Mr. Nils Johan Goransson Olsson
 Mr. Alfons de Pelsmaeker
 Mr. Edward Arthur Dorking
 Mr. Richard William Smith
 Mr. Ivan Stankovic
 Mr. Theodore de Mulder
 Mr. Penko Naidenoff
 Mr. Masabumi Hosono
 Miss. Kate Connolly
 Miss. Ellen "Nellie" Barber
 Mrs. Dickinson H (Helen Walton) Bishop
 Mr. Rene Jacques Levy
 Miss. Aloisia Haas
 Mr. Ivan Mineff
 Mr. Ervin G Lewy
 Mr. Mansour Hanna
 Miss. Helen Loraine Allison
 Mr. Adolphe Saalfeld
 Mrs. James (Helene DeLaudeniere Chaput) Baxter
 Miss. Anna Katherine "Annie Kate" Kelly
 Mr. Bernard McCoy
 Mr. William Cahoone Jr Johnson
 Miss. Nora A Keane
 Mr. Howard Hugh "Harry" Williams
 Master. Hudson Trevor Allison
 Miss. Margaret Fleming
 Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo) Penasco y Castellana
 Mr. Samuel Abelson
 Miss. Laura Mabel Francatelli
 Miss. Margaret Bechstein Hays
 Miss. Emily Borie Ryerson
 Mrs. William (Anna Sylfven) Lahtinen
 Mr. Ignjac Hendekovic
 Mr. Benjamin Hart
 Miss. Helmina Josefina Nilsson
 Mrs. Sinai (Miriam Sternin) Kantor
 Dr. Ernest Moraweck
 Miss. Mary Natalie Wick
 Mrs. Frederic Oakley (Margaretta Corning Stone) Spedden
 Mr. Samuel Dennis
 Mr. Yoto Danoff
 Miss. Hilda Mary Slayter
 Mrs. Albert Francis (Sylvia Mae Harbaugh) Caldwell
 Mr. George John Jr Sage
 Miss. Marie Grice Young
 Mr. Johan Hansen Nysveen
 Mrs. (Ada E Hall) Ball
 Mrs. Frank John (Emily Alice Brown) Goldsmith
 Miss. Jean Gertrude Hippach
 Miss. Agnes McCoy
 Mr. Austen Partner
 Mr. George Edward Graham
 Mr. Leo Edmondus Vander Planke
 Mrs. Henry William (Clara Heinsheimer) Frauenthal
 Mr. Mitto Denkoff
 Mr. Thomas Clinton Pears
 Miss. Elizabeth Margaret Burns
 Mr. Karl Edwart Dahl
 Mr. Stephen Weart Blackwell
 Master. Edmond Roger Navratil
 Miss. Alice Elizabeth Fortune
 Mr. Erik Gustaf Collander
 Mr. Charles Frederick Waddington Sedgwick
 Mr. Stanley Hubert Fox
 Miss. Amelia "Mildred" Brown
 Miss. Marion Elsie Smith
 Mrs. Thomas Henry (Mary E Finck) Davison
 Master. William Loch "William" Coutts
 Mr. Jovan Dimic
 Mr. Nils Martin Odahl
 Mr. Fletcher Fellows Williams-Lambert
 Mr. Tannous Elias
 Mr. Josef Arnold-Franchi
 Mr. Wazli Yousif
 Mr. Leo Peter Vanden Steen
 Miss. Elsie Edith Bowerman
 Miss. Annie Clemmer Funk
 Miss. Mary McGovern
 Miss. Helen Mary "Ellie" Mockler
 Mr. Wilhelm Skoog
 Mr. Sebastiano del Carlo
 Mrs. (Catherine David) Barbara
 Mr. Adola Asim
 Mr. Thomas O'Brien
 Mr. Mauritz Nils Martin Adahl
 Mrs. Frank Manley (Anna Sophia Atkinson) Warren
 Mrs. (Mantoura Boulos) Moussa
 Miss. Annie Jermyn
 Mme. Leontine Pauline Aubart
 Mr. George Achilles Harder
 Mr. Jakob Alfred Wiklund
 Mr. William Thomas Beavan
 Mr. Sante Ringhini
 Miss. Stina Viola Palsson
 Mrs. Edgar Joseph (Leila Saks) Meyer
 Miss. Aurora Adelia Landergren
 Mr. Harry Elkins Widener
 Mr. Tannous Betros
 Mr. Karl Gideon Gustafsson
 Miss. Rosalie Bidois
 Miss. Maria ("Mary") Nakid
 Mr. Juho Tikkanen
 Mrs. Alexander Oskar (Mary Aline Towner) Holverson
 Mr. Vasil Plotcharsky
 Mr. Charles Henry Davies
 Master. Sidney Leonard Goodwin
 Miss. Kate Buss
 Mr. Matthew Sadlier
 Miss. Bertha Lehmann
 Mr. William Ernest Carter
 Mr. Carl Olof Jansson
 Mr. Johan Birger Gustafsson
 Miss. Marjorie Newell
 Mrs. Hjalmar (Agnes Charlotta Bengtsson) Sandstrom
 Mr. Erik Johansson
 Miss. Elina Olsson
 Mr. Peter David McKane
 Dr. Alfred Pain
 Mrs. William H (Jessie L) Trout
 Mr. Juha Niskanen
 Mr. John Adams
 Miss. Mari Aina Jussila
 Mr. Pekka Pietari Hakkarainen
 Miss. Marija Oreskovic
 Mr. Shadrach Gale
 Mr. Carl/Charles Peter Widegren
 Master. William Rowe Richards
 Mr. Hans Martin Monsen Birkeland
 Miss. Ida Lefebre
 Mr. Todor Sdycoff
 Mr. Henry Hart
 Miss. Daisy E Minahan
 Mr. Alfred Fleming Cunningham
 Mr. Johan Julian Sundman
 Mrs. Thomas (Annie Louise Rowley) Meek
 Mrs. James Vivian (Lulu Thorne Christian) Drew
 Miss. Lyyli Karoliina Silven
 Mr. William John Matthews
 Miss. Catharina Van Impe
 Mr. Stanio Gheorgheff
 Mr. David Charters
 Mr. Leo Zimmerman
 Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren) Danbom
 Mr. Viktor Richard Rosblom
 Mr. Phillippe Wiseman
 Mrs. Charles V (Ada Maria Winfield) Clarke
 Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall") Phillips
 Mr. James Flynn
 Mr. Berk (Berk Trembisky) Pickard
 Mr. Mauritz Hakan Bjornstrom-Steffansson
 Mrs. Percival (Florence Kate White) Thorneycroft
 Mrs. Charles Alexander (Alice Adelaide Slow) Louch
 Mr. Nikolai Erland Kallio
 Mr. William Baird Silvey
 Miss. Lucile Polk Carter
 Miss. Doolina Margaret "Daisy" Ford
 Mrs. Sidney (Emily Hocking) Richards
 Mr. Mark Fortune
 Mr. Johan Henrik Johannesson Kvillner
 Mrs. Benjamin (Esther Ada Bloomfield) Hart
 Mr. Leon Hampe
 Mr. Johan Emil Petterson
 Ms. Encarnacion Reynaldo
 Mr. Bernt Johannesen-Bratthammer
 Master. Washington Dodge
 Miss. Madeleine Violet Mellinger
 Mr. Frederic Kimber Seward
 Miss. Marie Catherine Baclini
 Major. Arthur Godfrey Peuchen
 Mr. Edwy Arthur West
 Mr. Ingvald Olai Olsen Hagland
 Mr. Benjamin Laventall Foreman
 Mr. Samuel L Goldenberg
 Mr. Joseph Peduzzi
 Mr. Ivan Jalsevac
 Mr. Francis Davis Millet
 Mrs. Frederick R (Marion) Kenyon
 Miss. Ellen Toomey
 Mr. Maurice O'Connor
 Mr. Harry Anderson
 Mr. William Morley
 Mr. Arthur H Gee
 Mr. Jacob Christian Milling
 Mr. Simon Maisner
 Mr. Manuel Estanslas Goncalves
 Mr. William Campbell
 Mr. John Montgomery Smart
 Mr. James Scanlan
 Miss. Helene Barbara Baclini
 Mr. Arthur Keefe
 Mr. Luka Cacic
 Mrs. Edwy Arthur (Ada Mary Worth) West
 Mrs. Amin S (Marie Marthe Thuillard) Jerwan
 Miss. Ida Sofia Strandberg
 Mr. George Quincy Clifford
 Mr. Peter Henry Renouf
 Mr. Lewis Richard Braund
 Mr. Nils August Karlsson
 Miss. Hildur E Hirvonen
 Master. Harold Victor Goodwin
 Mr. Anthony Wood "Archie" Frost
 Mr. Richard Henry Rouse
 Mrs. (Hedwig) Turkula
 Mr. Dickinson H Bishop
 Miss. Jeannie Lefebre
 Mrs. Frederick Maxfield (Jane Anne Forby) Hoyt
 Mr. Edward Austin Kent
 Mr. Francis William Somerton
 Master. Eden Leslie "Neville" Coutts
 Mr. Konrad Mathias Reiersen Hagland
 Mr. Einar Windelov
 Mr. Harry Markland Molson
 Mr. Ramon Artagaveytia
 Mr. Edward Roland Stanley
 Mr. Gerious Yousseff
 Miss. Elizabeth Mussey Eustis
 Mr. Frederick William Shellard
 Mrs. Hudson J C (Bessie Waldo Daniels) Allison
 Mr. Olof Svensson
 Mr. Petar Calic
 Miss. Mary Canavan
 Miss. Bridget Mary O'Sullivan
 Miss. Kristina Sofia Laitinen
 Miss. Roberta Maioni
 Mr. Victor de Satode Penasco y Castellana
 Mrs. Frederick Charles (Jane Richards) Quick
 Mr. George ("George Arthur Brayton") Bradley
 Mr. Henry Margido Olsen
 Mr. Fang Lang
 Mr. Eugene Patrick Daly
 Mr. James Webber
 Mr. James Robert McGough
 Mrs. Martin (Elizabeth L. Barrett) Rothschild
 Mr. Satio Coleff
 Mr. William Anderson Walker
 Mrs. (Amelia Milley) Lemore
 Mr. Patrick Ryan
 Mrs. William A (Florence "Mary" Agnes Hughes) Angle
 Mr. Stefo Pavlovic
 Mr. Frederick Maxfield Hoyt
 Mr. Janko Vovk
 Mr. Sarkis Lahoud
 Mrs. Louis Albert (Ida Sophia Fischer) Hippach
 Mr. Fared Kassem
 Mr. James Farrell
 Miss. Lucy Ridsdale
 Mr. John Farthing
 Mr. Johan Werner Salonen
 Mr. Richard George Hocking
 Miss. Phyllis May Quick
 Mr. Nakli Toufik
 Mr. Joseph Jr Elias
 Mrs. Catherine (Catherine Rizk) Peter
 Miss. Marija Cacic
 Miss. Eva Miriam Hart
 Major. Archibald Willingham Butt
 Miss. Bertha LeRoy
 Mr. Samuel Beard Risien
 Miss. Hedwig Margaritha Frolicher
 Miss. Harriet R Crosby
 Miss. Ingeborg Constanzia Andersson
 Miss. Sigrid Elisabeth Andersson
 Mr. Edward Beane
 Mr. Walter Donald Douglas
 Mr. Arthur Ernest Nicholson
 Mrs. Edward (Ethel Clarke) Beane
 Mr. Julian Padro y Manent
 Mr. Frank John Goldsmith
 Master. John Morgan Jr Davies
 Mr. John Borland Jr Thayer
 Mr. Percival James R Sharp
 Mr. Timothy O'Brien
 Mr. Fahim ("Philip Zenni") Leeni
 Miss. Velin Ohman
 Mr. George Wright
 Lady. (Lucille Christiana Sutherland) ("Mrs Morgan") Duff Gordon
 Mr. Victor Robbins
 Mrs. Emil (Tillie Mandelbaum) Taussig
 Mrs. Guillaume Joseph (Emma) de Messemaeker
 Mr. Thomas Rowan Morrow
 Mr. Husein Sivic
 Mr. Robert Douglas Norman
 Mr. John Simmons
 Miss. (Marion Ogden) Meanwell
 Mr. Alfred J Davies
 Mr. Ilia Stoytcheff
 Mrs. Nils (Alma Cornelia Berglund) Palsson
 Mr. Tannous Doharr
 Mr. Carl Jonsson
 Mr. George Harris
 Mrs. Edward Dale (Charlotte Lamson) Appleton
 Mr. John Irwin ("Irving") Flynn
 Miss. Mary Kelly
 Mr. Alfred George John Rush
 Mr. George Patchett
 Miss. Ethel Garside
 Mrs. William Baird (Alice Munger) Silvey
 Mrs. Joseph (Maria Elias) Caram
 Mr. Eiriik Jussila
 Miss. Julie Rachel Christy
 Mrs. John Borland (Marian Longstreth Morris) Thayer
 Mr. William James Downton
 Mr. John Hugo Ross
 Mr. Uscher Paulner
 Miss. Ruth Taussig
 Mr. John Denzil Jarvis
 Mr. Maxmillian Frolicher-Stehli
 Mr. Eliezer Gilinski
 Mr. Joseph Murdlin
 Mr. Matti Rintamaki
 Mrs. Walter Bertram (Martha Eustis) Stephenson
 Mr. William James Elsbury
 Miss. Mary Bourke
 Mr. John Henry Chapman
 Mr. Jean Baptiste Van Impe
 Miss. Jessie Wills Leitch
 Mr. Alfred Johnson
 Mr. Hanna Boulos
 Sir. Cosmo Edmund ("Mr Morgan") Duff Gordon
 Mrs. Sidney Samuel (Amy Frances Christy) Jacobsohn
 Mr. Petco Slabenoff
 Mr. Charles H Harrington
 Mr. Ernst William Torber
 Mr. Harry ("Mr E Haven") Homer
 Mr. Edvard Bengtsson Lindell
 Mr. Milan Karaic
 Mr. Robert Williams Daniel
 Mrs. Joseph (Juliette Marie Louise Lafargue) Laroche
 Miss. Elizabeth W Shutes
 Mrs. Anders Johan (Alfrida Konstantia Brogren) Andersson
 Mr. Jose Neto Jardin
 Miss. Margaret Jane Murphy
 Mr. John Horgan
 Mr. William Alfred Brocklebank
 Miss. Alice Herman
 Mr. Ernst Gilbert Danbom
 Mrs. William Arthur (Cordelia K Stanlick) Lobb
 Miss. Marion Louise Becker
 Mr. Lawrence Gavey
 Mr. Antoni Yasbeck
 Mr. Edwin Nelson Jr Kimball
 Mr. Sahid Nakid
 Mr. Henry Damsgaard Hansen
 Mr. David John "Dai" Bowen
 Mr. Frederick Sutton
 Rev. Charles Leonard Kirkland
 Miss. Gretchen Fiske Longley
 Mr. Guentcho Bostandyeff
 Mr. Patrick D O'Connell
 Mr. Algernon Henry Wilson Barkworth

 Mr. Johan Svensson Lundahl
 Dr. Max Stahelin-Maeglin
 Mr. William Henry Marsh Parr
 Miss. Mabel Skoog
 Miss. Mary Davis
 Mr. Antti Gustaf Leinonen
 Mr. Harvey Collyer
 Mrs. Juha (Maria Emilia Ojala) Panula
 Mr. Percival Thorneycroft
 Mr. Hans Peder Jensen
 Mlle. Emma Sagesser
 Miss. Margit Elizabeth Skoog
 Mr. Choong Foo
 Miss. Eugenie Baclini
 Mr. Henry Sleeper Harper
 Mr. Liudevit Cor
 Col. Oberst Alfons Simonius-Blumer
 Mr. Edward Willey
 Miss. Amy Zillah Elsie Stanley
 Mr. Mito Mitkoff
 Miss. Elsie Doling
 Mr. Johannes Halvorsen Kalvik
 Miss. Hanora "Norah" O'Leary
 Miss. Hanora "Nora" Hegarty
 Mr. Leonard Mark Hickman
 Mr. Alexander Radeff
 Mrs. John (Catherine) Bourke
 Mr. George Floyd Eitemiller
 Mr. Arthur Webster Newell
 Dr. Henry William Frauenthal
 Mr. Mohamed Badt
 Mr. Edward Pomeroy Colley
 Mr. Peju Coleff
 Mr. Eino William Lindqvist
 Mr. Lewis Hickman
 Mr. Reginald Fenton Butler
 Mr. Knud Paust Rommetvedt
 Mr. Jacob Cook
 Mrs. Elmer Zebley (Juliet Cummins Wright) Taylor
 Mrs. Thomas William Solomon (Elizabeth Catherine Ford) Brown
 Mr. Thornton Davidson
 Mr. Henry Michael Mitchell
 Mr. Charles Wilhelms
 Mr. Ennis Hastings Watson
 Mr. Gustaf Hjalmar Edvardsson
 Mr. Frederick Charles Sawyer
 Miss. Anna Sofia Turja
 Mr. Frederick Maxfield Hoytt
 Mr. Thomas Drake Martinez Cardeza
 Miss. Katie Peters
 Mr. Hammad Hassab
 Mr. Thor Anderson Olsvigen
 Mr. Charles Edward Goodwin
 Mr. Thomas William Solomon Brown
 Mr. Joseph Philippe Lemercier Laroche
 Mr. Jaako Arnold Panula
 Mr. Branko Dakic
 Mr. Eberhard Thelander Fischer
 Miss. Georgette Alexandra Madill
 Mr. Albert Adrian Dick
 Miss. Manca Karun
 Mr. Ali Lam
 Mr. Khalil Saad
 Col. John Weir
 Mr. Charles Henry Chapman
 Mr. James Kelly
 Miss. Katherine "Katie" Mullens
 Mr. John Borland Thayer
 Mr. Adolf Mathias Nicolai Olsen Humblen
 Mrs. John Jacob (Madeleine Talmadge Force) Astor
 Mr. Spencer Victor Silverthorne
 Miss. Saiide Barbara
 Mr. Martin Gallagher
 Mr. Henrik Juul Hansen
 Mr. Henry Samuel ("Mr Henry Marshall") Morley
 Mrs. Florence "Fannie" Kelly
 Mr. Edward Pennington Calderhead
 Miss. Alice Cleaver
 Master. Halim Gonios ("William George") Moubarek
 Mlle. Berthe Antonine ("Mrs de Villiers") Mayne
 Mr. Herman Klaber
 Mr. Elmer Zebley Taylor
 Mr. August Viktor Larsson
 Mr. Samuel Greenberg
 Mr. Peter Andreas Lauritz Andersen Soholt
 Miss. Caroline Louise Endres
 Miss. Edwina Celia "Winnie" Troutt
 Mr. Michael McEvoy
 Mr. Malkolm Joackim Johnson
 Miss. Annie Jessie "Nina" Harper
 Mr. Svend Lauritz Jensen
 Mr. William Henry Gillespie
 Mr. Henry Price Hodges
 Mr. Norman Campbell Chambers
 Mr. Luka Oreskovic
 Mrs. Peter Henry (Lillian Jefferys) Renouf
 Miss. Margareth Mannion
 Mr. Kurt Arnold Gottfrid Bryhl
 Miss. Pieta Sofia Ilmakangas
 Miss. Elisabeth Walton Allen
 Mr. Houssein G N Hassan
 Mr. Robert J Knight
 Mr. William John Berriman
 Mr. Moses Aaron Troupiansky
 Mr. Leslie Williams
 Mrs. Edward (Margaret Ann Watson) Ford
 Mr. Gustave J Lesurer
 Mr. Kanio Ivanoff
 Mr. Minko Nankoff
 Mr. Walter James Hawksford
 Mr. Tyrell William Cavendish
 Miss. Susan Parker "Suzette" Ryerson
 Mr. Neal McNamee
 Mr. Juho Stranden
 Capt. Edward Gifford Crosby
 Mr. Rossmore Edward Abbott
 Miss. Anna Sinkkonen
 Mr. Daniel Warner Marvin
 Mr. Michael Connaghton
 Miss. Joan Wells
 Master. Meier Moor
 Mr. Johannes Joseph Vande Velde
 Mr. Lalio Jonkoff
 Mrs. Samuel (Jane Laver) Herman
 Master. Viljo Hamalainen
 Mr. August Sigfrid Carlsson
 Mr. Percy Andrew Bailey
 Mr. Thomas Leonard Theobald
 the Countess. of (Lucy Noel Martha Dyer-Edwards) Rothes
 Mr. John Garfirth
 Mr. Iisakki Antino Aijo Nirva
 Mr. Hanna Assi Barah
 Mrs. William Ernest (Lucile Polk) Carter
 Mr. Hans Linus Eklund
 Mrs. John C (Anna Andrews) Hogeboom
 Dr. Arthur Jackson Brewe
 Miss. Mary Mangan
 Mr. Daniel J Moran
 Mr. Daniel Danielsen Gronnestad
 Mr. Rene Aime Lievens
 Mr. Niels Peder Jensen
 Mrs. (Mary) Mack
 Mr. Dibo Elias
 Mrs. Elizabeth (Eliza Needs) Hocking
 Mr. Pehr Fabian Oliver Malkolm Myhrman
 Mr. Roger Tobin
 Miss. Virginia Ethel Emanuel
 Mr. Thomas J Kilgannon
 Mrs. Edward Scott (Elisabeth Walton McMillan) Robert
 Miss. Banoura Ayoub
 Mrs. Albert Adrian (Vera Gillespie) Dick
 Mr. Milton Clyde Long
 Mr. Andrew G Johnston
 Mr. William Ali
 Mr. Abraham (David Lishin) Harmer
 Miss. Anna Sofia Sjoblom
 Master. George Hugh Rice
 Master. Bertram Vere Dean
 Mr. Benjamin Guggenheim
 Mr. Andrew "Andy" Keane
 Mr. Alfred Gaskell
 Miss. Stella Anna Sage
 Mr. William Fisher Hoyt
 Mr. Ristiu Dantcheff
 Mr. Richard Otter
 Dr. Alice (Farnham) Leader
 Mrs. Mara Osman
 Mr. Yousseff Ibrahim Shawah
 Mrs. Jean Baptiste (Rosalie Paula Govaert) Van Impe
 Mr. Martin Ponesell
 Mrs. Harvey (Charlotte Annie Tate) Collyer
 Master. William Thornton II Carter
 Master. Assad Alexander Thomas
 Mr. Oskar Arvid Hedman
 Mr. Karl Johan Johansson
 Mr. Thomas Jr Andrews
 Miss. Ellen Natalia Pettersson
 Mr. August Meyer
 Mrs. Norman Campbell (Bertha Griggs) Chambers
 Mr. William Alexander
 Mr. James Lester
 Mr. Richard James Slemen
 Miss. Ebba Iris Alfrida Andersson
 Mr. Ernest Portage Tomlin
 Mr. Richard Fry
 Miss. Wendla Maria Heininen
 Mr. Albert Mallet
 Mr. John Fredrik Alexander Holm
 Master. Karl Thorsten Skoog
 Mrs. Charles Melville (Clara Jennings Gregg) Hays
 Mr. Nikola Lulic
 Jonkheer. John George Reuchlin
 Mrs. (Beila) Moor
 Master. Urho Abraham Panula
 Mr. John Flynn
 Mr. Len Lam
 Master. Andre Mallet
 Mr. Thomas Joseph McCormack
 Mrs. George Nelson (Martha Evelyn) Stone
 Mrs. Antoni (Selini Alexander) Yasbeck
 Master. George Sibley Richards
 Mr. Amin Saad
 Mr. Albert Augustsson
 Mr. Owen George Allum
 Miss. Sara Rebecca Compton
 Mr. Jakob Pasic
 Mr. Maurice Sirota
 Mr. Chang Chip
 Mr. Pierre Marechal
 Mr. Ilmari Rudolf Alhomaki
 Mr. Thomas Charles Mudd
 Miss. Augusta Serepeca
 Mr. Peter L Lemberopolous
 Mr. Jeso Culumovic
 Mr. Anthony Abbing
 Mr. Douglas Bullen Sage
 Mr. Marin Markoff
 Rev. John Harper
 Mrs. Samuel L (Edwiga Grabowska) Goldenberg
 Master. Sigvard Harald Elias Andersson
 Mr. Johan Svensson
 Miss. Nourelain Boulos
 Miss. Mary Conover Lines
 Mrs. Ernest Courtenay (Lilian Hughes) Carter
 Mrs. Sam (Leah Rosen) Aks
 Mrs. George Dennick (Mary Hitchcock) Wick
 Mr. Peter Denis Daly
 Mrs. Solomon (Latifa Qurban) Baclini
 Mr. Raihed Razi
 Mr. Claus Peter Hansen
 Mr. Frederick Edward Giles
 Mrs. Frederick Joel (Margaret Welles Barron) Swift
 Miss. Dorothy Edith "Dolly" Sage
 Mr. John William Gill
 Mrs. (Karolina) Bystrom
 Miss. Asuncion Duran y More
 Mr. Washington Augustus II Roebling
 Mr. Philemon van Melkebeke
 Master. Harold Theodor Johnson
 Mr. Cerin Balkic
 Mrs. Richard Leonard (Sallie Monypeny) Beckwith
 Mr. Frans Olof Carlsson
 Mr. Victor Vander Cruyssen
 Mrs. Samuel (Hannah Wizosky) Abelson
 Miss. Adele Kiamie "Jane" Najib
 Mr. Alfred Ossian Gustafsson
 Mr. Nedelio Petroff
 Mr. Kristo Laleff
 Mrs. Thomas Jr (Lily Alexenia Wilson) Potter
 Mrs. William (Imanita Parrish Hall) Shelley
 Mr. Johann Markun
 Miss. Gerda Ulrika Dahlberg
 Mr. Frederick James Banfield
 Mr. Henry Jr Sutehall
 Mrs. William (Margaret Norton) Rice
 Rev. Juozas Montvila
 Miss. Margaret Edith Graham
 Miss. Catherine Helen "Carrie" Johnston
 Mr. Karl Howell Behr
 Mr. Patrick Dooley
 Mr. Frederick Maxfield Hoyt

In [27]:
for i in df.index:
    name_split = df.name.values[i]
    name = name_split.partition("(")[0]
    real_name1 = name_split.partition("(")[2]
    real_name2 = real_name1.partition(")")[0]
    name2 = real_name1.partition(") ")[2]
    if real_name2:
        df.name.values[i] = name + name2 + "(" + real_name2 + ")"
    else:
        df.name.values[i] = name + name2

Zmieniono kolejność występowania tytułowania, imienia, nazwiska oraz ksywki i osoby. Co umożliwiło dokładne porównanie wszystkich wierszy i redukcje ich o wartości powtarzające się.

In [28]:
df['name'].value_counts()

 Mr. Frederick Maxfield Hoyt                          3
 Miss. Marguerite Ru$$ Sandstrom                      3
 Miss. Katherine "Katie" Mullens                      1
 Mr. Pekka Pietari Hakkarainen                        1
 Mr. Ernest Portage Tomlin                            1
                                                     ..
 Miss. Anna Ward                                      1
 Mr. Husein Sivic                                     1
 Mrs. Alexander Oskar Holverson(Mary Aline Towner)    1
 Mr. Mohamed Badt                                     1
 Miss. Agnes McCoy                                    1
Name: name, Length: 888, dtype: int64

Jak można zaobserować, po naniesionych zmianach wartości te przedstawiają się następująco.

In [29]:
df = df.drop_duplicates('passenger_id',keep='first')

kolejnym krokiem było usunięcie duplikatów. Po poprzednich analizach wiadomym było, że passenger_id jest wartością, według której można wyfiltrować powtórzenia w danych.

In [30]:
for i in df.index:
    print(df.at[i, 'name'])

 Mr. Owen Harris Braund
 Mrs. John Bradley Cumings(Florence Briggs Thayer)
 Miss. Laina Heikkinen
 Mrs. Jacques Heath Futrelle(Lily May Peel)
 Mr. William Henry Allen
 Mr. James Moran
 Mr. Timothy J McCarthy
 Master. Gosta Leonard Palsson
 Mrs. Oscar W Johnson(Elisabeth Vilhelmina Berg)
 Mrs. Nicholas Nasser(Adele Achem)
 Miss. Marguerite Ru$$ Sandstrom
 Miss. Elizabeth Bonnell
 Mr. William Henry Saundercock
 Miss. Hulda Amanda Adolfina Vestrom
 Mrs. Hewlett(Mary D Kingcome)
 Master. Eugene Rice
 Mr. Charles Eugene Williams
 Mrs. Julius Vander Planke(Emelia Maria Vandemoortele)
 Mrs. Fatima Masselmani
 Mr. Joseph J Fynney
 Mr. Lawrence Beesley
 Miss. Anna "Annie" McGowan
 Miss. Torborg Danira Palsson
 Mrs. Carl Oscar Asplund(Selma Augusta Emilia Johansson)
 Mr. Farred Chehab Emir
 Mr. Charles Alexander Fortune
 Miss. Ellen "Nellie" O'Dwyer
 Mr. Lalio Todoroff
 Don. Manuel E Uruchurtu
 Mrs. William Augustus Spencer(Marie Eugenie)
 Miss. Mary Agatha Glynn
 Mr. Edward H Wheadon
 Mr. Edgar Joseph Meyer
 Mr. Alexander Oskar Holverson
 Mr. Hanna Mamee
 Mr. Ernest Charles Cann
 Miss. Augusta Maria Vander Planke
 Miss. Jamila Nicola-Yarred
 Mrs. Johan Ahlin(Johanna Persdotter Larsson)
 Mrs. William John Robert Turpin(Dorothy Ann Wonnacott)
 Mr. Theodor Kraeff
 Miss. Simonne Marie Anne Andree Laroche
 Miss. Margaret Delia Devaney
 Mr. William John Rogers
 Mr. Denis Lennon
 Miss. Bridget O'Driscoll
 Mr. Youssef Samaan
 Mrs. Josef Arnold-Franchi(Josefine Franchi)
 Master. Juha Niilo Panula
 Mr. Richard Cater Nosworthy
 Mrs. Henry Sleeper Harper(Myna Haxtun)
 Mrs. Lizzie Faunthorpe(Elizabeth Anne Wilkinson)
 Mr. Engelhart Cornelius Ostby
 Mr. Hugh Woolner
 Miss. Emily Rugg
 Mr. Mansouer Novel
 Miss. Constance Mirium West
 Master. William Frederick Goodwin
 Mr. Orsen Sirayanian
 Miss. Amelie Icard
 Mr. Henry Birkhardt Harris
 Master. Harald Skoog
 Mr. Albert A Stewart
 Master. Gerios Moubarek
 Mrs. Nye(Elizabeth Ramell)
 Mr. Ernest James Crease
 Miss. Erna Alexandra Andersson
 Mr. Vincenz Kink
 Mr. Stephen Curnow Jenkin
 Miss. Lillian Amy Goodwin
 Mr. Ambrose Jr Hood
 Mr. Apostolos Chronopoulos
 Mr. Lee Bing
 Mr. Sigurd Hansen Moen
 Mr. Ivan Staneff
 Mr. Rahamin Haim Moutal
 Master. Alden Gates Caldwell
 Miss. Elizabeth Dowdell
 Mr. Achille Waelens
 Mr. Jan Baptist Sheerlinck
 Miss. Brigdet Delia McDermott
 Mr. Francisco M Carrau
 Miss. Bertha Ilett
 Mrs. Karl Alfred Backstrom(Maria Mathilda Gustafsson)
 Mr. William Neal Ford
 Mr. Selman Francis Slocovski
 Miss. Mabel Helen Fortune
 Mr. Francesco Celotti
 Mr. Emil Christmann
 Mr. Paul Edvin Andreasson
 Mr. Herbert Fuller Chaffee
 Mr. Bertram Frank Dean
 Mr. Daniel Coxon
 Mr. Charles Joseph Shorney
 Mr. George B Goldschmidt
 Mr. William Bertram Greenfield
 Mrs. John T Doling(Ada Julia Bone)
 Mr. Sinai Kantor
 Miss. Matilda Petranec
 Mr. Pastcho Petroff("Pentcho")
 Mr. Richard Frasar White
 Mr. Gustaf Joel Johansson
 Mr. Anders Vilhelm Gustafsson
 Mr. Stoytcho Mionoff
 Miss. Anna Kristine Salkjelsvik
 Mr. Albert Johan Moss
 Mr. Tido Rekic
 Miss. Bertha Moran
 Mr. Walter Chamberlain Porter
 Miss. Hileni Zabour
 Mr. David John Barton
 Miss. Katriina Jussila
 Miss. Malake Attalah
 Mr. Edvard Pekoniemi
 Mr. Patrick Connors
 Mr. William John Robert Turpin
 Mr. Quigg Edmond Baxter
 Miss. Ellis Anna Maria Andersson
 Mr. Stanley George Hickman
 Mr. Leonard Charles Moore
 Mr. Nicholas Nasser
 Miss. Susan Webber
 Mr. Percival Wayland White
 Master. Elias Nicola-Yarred
 Mr. Martin McMahon
 Mr. Fridtjof Arne Madsen
 Miss. Anna Peter
 Mr. Johan Ekstrom
 Mr. Jozef Drazenoic
 Mr. Domingos Fernandeo Coelho
 Mrs. Alexander A Robins(Grace Charity Laury)
 Mrs. Leopold Weisz(Mathilde Francoise Pede)
 Mr. Samuel James Hayden Sobey
 Mr. Emile Richard
 Miss. Helen Monypeny Newsom
 Mr. Jacques Heath Futrelle
 Mr. Olaf Elon Osen
 Mr. Victor Giglio
 Mrs. Joseph Boulos(Sultana)
 Miss. Anna Sofia Nysten
 Mrs. Pekka Pietari Hakkarainen(Elin Matilda Dolck)
 Mr. Jeremiah Burke
 Mr. Edgardo Samuel Andrew
 Mr. Joseph Charles Nicholls
 Mr. August Edvard Andersson("Wennerstrom")
 Miss. Robina Maggie "Ruby" Ford
 Mr. Michel Navratil("Louis M Hoffman")
 Rev. Thomas Roussel Davids Byles
 Rev. Robert James Bateman
 Mrs. Thomas Pears(Edith Wearne)
 Mr. Alfonzo Meo
 Mr. Austin Blyler van Billiard
 Mr. Ole Martin Olsen
 Mr. Charles Duane Williams
 Miss. Katherine "Katie" Gilnagh
 Mr. Harry Corn
 Mr. Mile Smiljanic
 Master. Thomas Henry Sage
 Mr. John Hatfield Cribb
 Mrs. James Watt(Elizabeth "Bessie" Inglis Milne)
 Mr. John Viktor Bengtsson
 Mr. Jovo Calic
 Master. Eino Viljami Panula
 Master. Frank John William "Frankie" Goldsmith
 Mrs. Chibnall(Edith Martha Bowerman)
 Mrs. William Skoog(Anna Bernhardina Karlsson)
 Mr. John D Baumann
 Mr. Lee Ling
 Mr. Wyckoff Van der hoef
 Master. Arthur Rice
 Miss. Eleanor Ileen Johnson
 Mr. Antti Wilhelm Sivola
 Mr. James Clinch Smith
 Mr. Klas Albin Klasen
 Master. Henry Forbes Lefebre
 Miss. Ann Elizabeth Isham
 Mr. Reginald Hale
 Mr. Lionel Leonard
 Miss. Constance Gladys Sage
 Mr. Rene Pernot
 Master. Clarence Gustaf Hugo Asplund
 Master. Richard F Becker
 Miss. Luise Gretchen Kink-Heilmann
 Mr. Hugh Roscoe Rood
 Mrs. Thomas O'Brien(Johanna "Hannah" Godfrey)
 Mr. Charles Hallace Romaine("Mr C Rolmane")
 Mr. John Bourke
 Mr. Stjepan Turcin
 Mrs. Pinsky(Rosa)
 Mr. William Carbines
 Miss. Carla Christine Nielsine Andersen-Jensen
 Master. Michel M Navratil
 Mrs. James Joseph Brown(Margaret Tobin)
 Miss. Elise Lurette
 Mr. Robert Mernagh
 Mr. Karl Siegwart Andreas Olsen
 Miss. Margaret "Maggie" Madigan
 Miss. Henriette Yrois("Mrs Harbeck")
 Mr. Nestor Cyriel Vande Walle
 Mr. Frederick Sage
 Mr. Jakob Alfred Johanson
 Mr. Gerious Youseff
 Mr. Gurshon "Gus" Cohen
 Miss. Telma Matilda Strom
 Mr. Karl Alfred Backstrom
 Mr. Nassef Cassem Albimona
 Miss. Helen "Ellen" Carr
 Mr. Henry Blank
 Mr. Ahmed Ali
 Miss. Clear Annie Cameron
 Mr. John Henry Perkin
 Mr. Hans Kristensen Givard
 Mr. Philip Kiernan
 Miss. Madeleine Newell
 Miss. Eliina Honkanen
 Mr. Sidney Samuel Jacobsohn
 Miss. Albina Bazzani
 Mr. Walter Harris
 Mr. Victor Francis Sunderland
 Mr. James H Bracken
 Mr. George Henry Green
 Mr. Christo Nenkoff
 Mr. Frederick Maxfield Hoyt
 Mr. Karl Ivar Sven Berglund
 Mr. William John Mellors
 Mr. John Hall Lovell("Henry")
 Mr. Arne Jonas Fahlstrom
 Miss. Mathilde Lefebre
 Mrs. Henry Birkhardt Harris(Irene Wallach)
 Mr. Bengt Edvin Larsson
 Mr. Ernst Adolf Sjostedt
 Miss. Lillian Gertrud Asplund
 Mr. Robert William Norman Leyson
 Miss. Alice Phoebe Harknett
 Mr. Stephen Hold
 Miss. Marjorie "Lottie" Collyer
 Mr. Frederick William Pengelly
 Mr. George Henry Hunt
 Miss. Thamine Zabour
 Miss. Katherine "Kate" Murphy
 Mr. Reginald Charles Coleridge
 Mr. Matti Alexanteri Maenpaa
 Mr. Sleiman Attalah
 Dr. William Edward Minahan
 Miss. Agda Thorilda Viktoria Lindahl
 Mrs. William Hamalainen(Anna)
 Mr. Richard Leonard Beckwith
 Rev. Ernest Courtenay Carter
 Mr. James George Reed
 Mrs. Wilhelm Strom(Elna Matilda Persson)
 Mr. William Thomas Stead
 Mr. William Arthur Lobb
 Mrs. Viktor Rosblom(Helena Wilhelmina)
 Mrs. Darwis Touma(Hanne Youssef Razi)
 Mrs. Gertrude Maybelle Thorne
 Miss. Gladys Cherry
 Miss. Anna Ward
 Mrs. Parrish(Lutie Davis)
 Mr. Thomas Smith
 Master. Edvin Rojj Felix Asplund
 Mr. Emil Taussig
 Mr. William Harrison
 Miss. Delia Henry
 Mr. David Reeves
 Mr. Ernesti Arvid Panula
 Mr. Ernst Ulrik Persson
 Mrs. William Thompson Graham(Edith Junkins)
 Miss. Amelia Bissette
 Mr. Alexander Cairns
 Mr. William Henry Tornquist
 Mrs. Mellinger(Elizabeth Anne Maidment)
 Mr. Charles H Natsch
 Miss. Hanora "Nora" Healy
 Miss. Kornelia Theodosia Andrews
 Miss. Augusta Charlotta Lindblom
 Mr. Francis "Frank" Parkes
 Master. Eric Rice
 Mrs. Stanton Abbott(Rosa Hunt)
 Mr. Frank Duane
 Mr. Nils Johan Goransson Olsson
 Mr. Alfons de Pelsmaeker
 Mr. Edward Arthur Dorking
 Mr. Richard William Smith
 Mr. Ivan Stankovic
 Mr. Theodore de Mulder
 Mr. Penko Naidenoff
 Mr. Masabumi Hosono
 Miss. Kate Connolly
 Miss. Ellen "Nellie" Barber
 Mrs. Dickinson H Bishop(Helen Walton)
 Mr. Rene Jacques Levy
 Miss. Aloisia Haas
 Mr. Ivan Mineff
 Mr. Ervin G Lewy
 Mr. Mansour Hanna
 Miss. Helen Loraine Allison
 Mr. Adolphe Saalfeld
 Mrs. James Baxter(Helene DeLaudeniere Chaput)
 Miss. Anna Katherine "Annie Kate" Kelly
 Mr. Bernard McCoy
 Mr. William Cahoone Jr Johnson
 Miss. Nora A Keane
 Mr. Howard Hugh "Harry" Williams
 Master. Hudson Trevor Allison
 Miss. Margaret Fleming
 Mrs. Victor de Satode Penasco y Castellana(Maria Josefa Perez de Soto y Vallejo)
 Mr. Samuel Abelson
 Miss. Laura Mabel Francatelli
 Miss. Margaret Bechstein Hays
 Miss. Emily Borie Ryerson
 Mrs. William Lahtinen(Anna Sylfven)
 Mr. Ignjac Hendekovic
 Mr. Benjamin Hart
 Miss. Helmina Josefina Nilsson
 Mrs. Sinai Kantor(Miriam Sternin)
 Dr. Ernest Moraweck
 Miss. Mary Natalie Wick
 Mrs. Frederic Oakley Spedden(Margaretta Corning Stone)
 Mr. Samuel Dennis
 Mr. Yoto Danoff
 Miss. Hilda Mary Slayter
 Mrs. Albert Francis Caldwell(Sylvia Mae Harbaugh)
 Mr. George John Jr Sage
 Miss. Marie Grice Young
 Mr. Johan Hansen Nysveen
 Mrs. Ball(Ada E Hall)
 Mrs. Frank John Goldsmith(Emily Alice Brown)
 Miss. Jean Gertrude Hippach
 Miss. Agnes McCoy
 Mr. Austen Partner
 Mr. George Edward Graham
 Mr. Leo Edmondus Vander Planke
 Mrs. Henry William Frauenthal(Clara Heinsheimer)
 Mr. Mitto Denkoff
 Mr. Thomas Clinton Pears
 Miss. Elizabeth Margaret Burns
 Mr. Karl Edwart Dahl
 Mr. Stephen Weart Blackwell
 Master. Edmond Roger Navratil
 Miss. Alice Elizabeth Fortune
 Mr. Erik Gustaf Collander
 Mr. Charles Frederick Waddington Sedgwick
 Mr. Stanley Hubert Fox
 Miss. Amelia "Mildred" Brown
 Miss. Marion Elsie Smith
 Mrs. Thomas Henry Davison(Mary E Finck)
 Master. William Loch "William" Coutts
 Mr. Jovan Dimic
 Mr. Nils Martin Odahl
 Mr. Fletcher Fellows Williams-Lambert
 Mr. Tannous Elias
 Mr. Josef Arnold-Franchi
 Mr. Wazli Yousif
 Mr. Leo Peter Vanden Steen
 Miss. Elsie Edith Bowerman
 Miss. Annie Clemmer Funk
 Miss. Mary McGovern
 Miss. Helen Mary "Ellie" Mockler
 Mr. Wilhelm Skoog
 Mr. Sebastiano del Carlo
 Mrs. Barbara(Catherine David)
 Mr. Adola Asim
 Mr. Thomas O'Brien
 Mr. Mauritz Nils Martin Adahl
 Mrs. Frank Manley Warren(Anna Sophia Atkinson)
 Mrs. Moussa(Mantoura Boulos)
 Miss. Annie Jermyn
 Mme. Leontine Pauline Aubart
 Mr. George Achilles Harder
 Mr. Jakob Alfred Wiklund
 Mr. William Thomas Beavan
 Mr. Sante Ringhini
 Miss. Stina Viola Palsson
 Mrs. Edgar Joseph Meyer(Leila Saks)
 Miss. Aurora Adelia Landergren
 Mr. Harry Elkins Widener
 Mr. Tannous Betros
 Mr. Karl Gideon Gustafsson
 Miss. Rosalie Bidois
 Miss. Maria Nakid("Mary")
 Mr. Juho Tikkanen
 Mrs. Alexander Oskar Holverson(Mary Aline Towner)
 Mr. Vasil Plotcharsky
 Mr. Charles Henry Davies
 Master. Sidney Leonard Goodwin
 Miss. Kate Buss
 Mr. Matthew Sadlier
 Miss. Bertha Lehmann
 Mr. William Ernest Carter
 Mr. Carl Olof Jansson
 Mr. Johan Birger Gustafsson
 Miss. Marjorie Newell
 Mrs. Hjalmar Sandstrom(Agnes Charlotta Bengtsson)
 Mr. Erik Johansson
 Miss. Elina Olsson
 Mr. Peter David McKane
 Dr. Alfred Pain
 Mrs. William H Trout(Jessie L)
 Mr. Juha Niskanen
 Mr. John Adams
 Miss. Mari Aina Jussila
 Mr. Pekka Pietari Hakkarainen
 Miss. Marija Oreskovic
 Mr. Shadrach Gale
 Mr. Carl/Charles Peter Widegren
 Master. William Rowe Richards
 Mr. Hans Martin Monsen Birkeland
 Miss. Ida Lefebre
 Mr. Todor Sdycoff
 Mr. Henry Hart
 Miss. Daisy E Minahan
 Mr. Alfred Fleming Cunningham
 Mr. Johan Julian Sundman
 Mrs. Thomas Meek(Annie Louise Rowley)
 Mrs. James Vivian Drew(Lulu Thorne Christian)
 Miss. Lyyli Karoliina Silven
 Mr. William John Matthews
 Miss. Catharina Van Impe
 Mr. Stanio Gheorgheff
 Mr. David Charters
 Mr. Leo Zimmerman
 Mrs. Ernst Gilbert Danbom(Anna Sigrid Maria Brogren)
 Mr. Viktor Richard Rosblom
 Mr. Phillippe Wiseman
 Mrs. Charles V Clarke(Ada Maria Winfield)
 Miss. Kate Florence Phillips("Mrs Kate Louise Phillips Marshall")
 Mr. James Flynn
 Mr. Berk Pickard(Berk Trembisky)
 Mr. Mauritz Hakan Bjornstrom-Steffansson
 Mrs. Percival Thorneycroft(Florence Kate White)
 Mrs. Charles Alexander Louch(Alice Adelaide Slow)
 Mr. Nikolai Erland Kallio
 Mr. William Baird Silvey
 Miss. Lucile Polk Carter
 Miss. Doolina Margaret "Daisy" Ford
 Mrs. Sidney Richards(Emily Hocking)
 Mr. Mark Fortune
 Mr. Johan Henrik Johannesson Kvillner
 Mrs. Benjamin Hart(Esther Ada Bloomfield)
 Mr. Leon Hampe
 Mr. Johan Emil Petterson
 Ms. Encarnacion Reynaldo
 Mr. Bernt Johannesen-Bratthammer
 Master. Washington Dodge
 Miss. Madeleine Violet Mellinger
 Mr. Frederic Kimber Seward
 Miss. Marie Catherine Baclini
 Major. Arthur Godfrey Peuchen
 Mr. Edwy Arthur West
 Mr. Ingvald Olai Olsen Hagland
 Mr. Benjamin Laventall Foreman
 Mr. Samuel L Goldenberg
 Mr. Joseph Peduzzi
 Mr. Ivan Jalsevac
 Mr. Francis Davis Millet
 Mrs. Frederick R Kenyon(Marion)
 Miss. Ellen Toomey
 Mr. Maurice O'Connor
 Mr. Harry Anderson
 Mr. William Morley
 Mr. Arthur H Gee
 Mr. Jacob Christian Milling
 Mr. Simon Maisner
 Mr. Manuel Estanslas Goncalves
 Mr. William Campbell
 Mr. John Montgomery Smart
 Mr. James Scanlan
 Miss. Helene Barbara Baclini
 Mr. Arthur Keefe
 Mr. Luka Cacic
 Mrs. Edwy Arthur West(Ada Mary Worth)
 Mrs. Amin S Jerwan(Marie Marthe Thuillard)
 Miss. Ida Sofia Strandberg
 Mr. George Quincy Clifford
 Mr. Peter Henry Renouf
 Mr. Lewis Richard Braund
 Mr. Nils August Karlsson
 Miss. Hildur E Hirvonen
 Master. Harold Victor Goodwin
 Mr. Anthony Wood "Archie" Frost
 Mr. Richard Henry Rouse
 Mrs. Turkula(Hedwig)
 Mr. Dickinson H Bishop
 Miss. Jeannie Lefebre
 Mrs. Frederick Maxfield Hoyt(Jane Anne Forby)
 Mr. Edward Austin Kent
 Mr. Francis William Somerton
 Master. Eden Leslie "Neville" Coutts
 Mr. Konrad Mathias Reiersen Hagland
 Mr. Einar Windelov
 Mr. Harry Markland Molson
 Mr. Ramon Artagaveytia
 Mr. Edward Roland Stanley
 Mr. Gerious Yousseff
 Miss. Elizabeth Mussey Eustis
 Mr. Frederick William Shellard
 Mrs. Hudson J C Allison(Bessie Waldo Daniels)
 Mr. Olof Svensson
 Mr. Petar Calic
 Miss. Mary Canavan
 Miss. Bridget Mary O'Sullivan
 Miss. Kristina Sofia Laitinen
 Miss. Roberta Maioni
 Mr. Victor de Satode Penasco y Castellana
 Mrs. Frederick Charles Quick(Jane Richards)
 Mr. George Bradley("George Arthur Brayton")
 Mr. Henry Margido Olsen
 Mr. Fang Lang
 Mr. Eugene Patrick Daly
 Mr. James Webber
 Mr. James Robert McGough
 Mrs. Martin Rothschild(Elizabeth L. Barrett)
 Mr. Satio Coleff
 Mr. William Anderson Walker
 Mrs. Lemore(Amelia Milley)
 Mr. Patrick Ryan
 Mrs. William A Angle(Florence "Mary" Agnes Hughes)
 Mr. Stefo Pavlovic
 Mr. Janko Vovk
 Mr. Sarkis Lahoud
 Mrs. Louis Albert Hippach(Ida Sophia Fischer)
 Mr. Fared Kassem
 Mr. James Farrell
 Miss. Lucy Ridsdale
 Mr. John Farthing
 Mr. Johan Werner Salonen
 Mr. Richard George Hocking
 Miss. Phyllis May Quick
 Mr. Nakli Toufik
 Mr. Joseph Jr Elias
 Mrs. Catherine Peter(Catherine Rizk)
 Miss. Marija Cacic
 Miss. Eva Miriam Hart
 Major. Archibald Willingham Butt
 Miss. Bertha LeRoy
 Mr. Samuel Beard Risien
 Miss. Hedwig Margaritha Frolicher
 Miss. Harriet R Crosby
 Miss. Ingeborg Constanzia Andersson
 Miss. Sigrid Elisabeth Andersson
 Mr. Edward Beane
 Mr. Walter Donald Douglas
 Mr. Arthur Ernest Nicholson
 Mrs. Edward Beane(Ethel Clarke)
 Mr. Julian Padro y Manent
 Mr. Frank John Goldsmith
 Master. John Morgan Jr Davies
 Mr. John Borland Jr Thayer
 Mr. Percival James R Sharp
 Mr. Timothy O'Brien
 Mr. Fahim Leeni("Philip Zenni")
 Miss. Velin Ohman
 Mr. George Wright
 Lady. ("Mrs Morgan") Duff Gordon(Lucille Christiana Sutherland)
 Mr. Victor Robbins
 Mrs. Emil Taussig(Tillie Mandelbaum)
 Mrs. Guillaume Joseph de Messemaeker(Emma)
 Mr. Thomas Rowan Morrow
 Mr. Husein Sivic
 Mr. Robert Douglas Norman
 Mr. John Simmons
 Miss. Meanwell(Marion Ogden)
 Mr. Alfred J Davies
 Mr. Ilia Stoytcheff
 Mrs. Nils Palsson(Alma Cornelia Berglund)
 Mr. Tannous Doharr
 Mr. Carl Jonsson
 Mr. George Harris
 Mrs. Edward Dale Appleton(Charlotte Lamson)
 Mr. John Irwin Flynn("Irving")
 Miss. Mary Kelly
 Mr. Alfred George John Rush
 Mr. George Patchett
 Miss. Ethel Garside
 Mrs. William Baird Silvey(Alice Munger)
 Mrs. Joseph Caram(Maria Elias)
 Mr. Eiriik Jussila
 Miss. Julie Rachel Christy
 Mrs. John Borland Thayer(Marian Longstreth Morris)
 Mr. William James Downton
 Mr. John Hugo Ross
 Mr. Uscher Paulner

 Miss. Ruth Taussig
 Mr. John Denzil Jarvis
 Mr. Maxmillian Frolicher-Stehli
 Mr. Eliezer Gilinski
 Mr. Joseph Murdlin
 Mr. Matti Rintamaki
 Mrs. Walter Bertram Stephenson(Martha Eustis)
 Mr. William James Elsbury
 Miss. Mary Bourke
 Mr. John Henry Chapman
 Mr. Jean Baptiste Van Impe
 Miss. Jessie Wills Leitch
 Mr. Alfred Johnson
 Mr. Hanna Boulos
 Sir. Cosmo Edmund Duff Gordon("Mr Morgan")
 Mrs. Sidney Samuel Jacobsohn(Amy Frances Christy)
 Mr. Petco Slabenoff
 Mr. Charles H Harrington
 Mr. Ernst William Torber
 Mr. Harry Homer("Mr E Haven")
 Mr. Edvard Bengtsson Lindell
 Mr. Milan Karaic
 Mr. Robert Williams Daniel
 Mrs. Joseph Laroche(Juliette Marie Louise Lafargue)
 Miss. Elizabeth W Shutes
 Mrs. Anders Johan Andersson(Alfrida Konstantia Brogren)
 Mr. Jose Neto Jardin
 Miss. Margaret Jane Murphy
 Mr. John Horgan
 Mr. William Alfred Brocklebank
 Miss. Alice Herman
 Mr. Ernst Gilbert Danbom
 Mrs. William Arthur Lobb(Cordelia K Stanlick)
 Miss. Marion Louise Becker
 Mr. Lawrence Gavey
 Mr. Antoni Yasbeck
 Mr. Edwin Nelson Jr Kimball
 Mr. Sahid Nakid
 Mr. Henry Damsgaard Hansen
 Mr. David John "Dai" Bowen
 Mr. Frederick Sutton
 Rev. Charles Leonard Kirkland
 Miss. Gretchen Fiske Longley
 Mr. Guentcho Bostandyeff
 Mr. Patrick D O'Connell
 Mr. Algernon Henry Wilson Barkworth
 Mr. Johan Svensson Lundahl
 Dr. Max Stahelin-Maeglin
 Mr. William Henry Marsh Parr
 Miss. Mabel Skoog
 Miss. Mary Davis
 Mr. Antti Gustaf Leinonen
 Mr. Harvey Collyer
 Mrs. Juha Panula(Maria Emilia Ojala)
 Mr. Percival Thorneycroft
 Mr. Hans Peder Jensen
 Mlle. Emma Sagesser
 Miss. Margit Elizabeth Skoog
 Mr. Choong Foo
 Miss. Eugenie Baclini
 Mr. Henry Sleeper Harper
 Mr. Liudevit Cor
 Col. Oberst Alfons Simonius-Blumer
 Mr. Edward Willey
 Miss. Amy Zillah Elsie Stanley
 Mr. Mito Mitkoff
 Miss. Elsie Doling
 Mr. Johannes Halvorsen Kalvik
 Miss. Hanora "Norah" O'Leary
 Miss. Hanora "Nora" Hegarty
 Mr. Leonard Mark Hickman
 Mr. Alexander Radeff
 Mrs. John Bourke(Catherine)
 Mr. George Floyd Eitemiller
 Mr. Arthur Webster Newell
 Dr. Henry William Frauenthal
 Mr. Mohamed Badt
 Mr. Edward Pomeroy Colley
 Mr. Peju Coleff
 Mr. Eino William Lindqvist
 Mr. Lewis Hickman
 Mr. Reginald Fenton Butler
 Mr. Knud Paust Rommetvedt
 Mr. Jacob Cook
 Mrs. Elmer Zebley Taylor(Juliet Cummins Wright)
 Mrs. Thomas William Solomon Brown(Elizabeth Catherine Ford)
 Mr. Thornton Davidson
 Mr. Henry Michael Mitchell
 Mr. Charles Wilhelms
 Mr. Ennis Hastings Watson
 Mr. Gustaf Hjalmar Edvardsson
 Mr. Frederick Charles Sawyer
 Miss. Anna Sofia Turja
 Mr. Thomas Drake Martinez Cardeza
 Miss. Katie Peters
 Mr. Hammad Hassab
 Mr. Thor Anderson Olsvigen
 Mr. Charles Edward Goodwin
 Mr. Thomas William Solomon Brown
 Mr. Joseph Philippe Lemercier Laroche
 Mr. Jaako Arnold Panula
 Mr. Branko Dakic
 Mr. Eberhard Thelander Fischer
 Miss. Georgette Alexandra Madill
 Mr. Albert Adrian Dick
 Miss. Manca Karun
 Mr. Ali Lam
 Mr. Khalil Saad
 Col. John Weir
 Mr. Charles Henry Chapman
 Mr. James Kelly
 Miss. Katherine "Katie" Mullens
 Mr. John Borland Thayer
 Mr. Adolf Mathias Nicolai Olsen Humblen
 Mrs. John Jacob Astor(Madeleine Talmadge Force)
 Mr. Spencer Victor Silverthorne
 Miss. Saiide Barbara
 Mr. Martin Gallagher
 Mr. Henrik Juul Hansen
 Mr. Henry Samuel Morley("Mr Henry Marshall")
 Mrs. Florence "Fannie" Kelly
 Mr. Edward Pennington Calderhead
 Miss. Alice Cleaver
 Master. Halim Gonios Moubarek("William George")
 Mlle. Berthe Antonine Mayne("Mrs de Villiers")
 Mr. Herman Klaber
 Mr. Elmer Zebley Taylor
 Mr. August Viktor Larsson
 Mr. Samuel Greenberg
 Mr. Peter Andreas Lauritz Andersen Soholt
 Miss. Caroline Louise Endres
 Miss. Edwina Celia "Winnie" Troutt
 Mr. Michael McEvoy
 Mr. Malkolm Joackim Johnson
 Miss. Annie Jessie "Nina" Harper
 Mr. Svend Lauritz Jensen
 Mr. William Henry Gillespie
 Mr. Henry Price Hodges
 Mr. Norman Campbell Chambers
 Mr. Luka Oreskovic
 Mrs. Peter Henry Renouf(Lillian Jefferys)
 Miss. Margareth Mannion
 Mr. Kurt Arnold Gottfrid Bryhl
 Miss. Pieta Sofia Ilmakangas
 Miss. Elisabeth Walton Allen
 Mr. Houssein G N Hassan
 Mr. Robert J Knight
 Mr. William John Berriman
 Mr. Moses Aaron Troupiansky
 Mr. Leslie Williams
 Mrs. Edward Ford(Margaret Ann Watson)
 Mr. Gustave J Lesurer
 Mr. Kanio Ivanoff
 Mr. Minko Nankoff
 Mr. Walter James Hawksford
 Mr. Tyrell William Cavendish
 Miss. Susan Parker "Suzette" Ryerson
 Mr. Neal McNamee
 Mr. Juho Stranden
 Capt. Edward Gifford Crosby
 Mr. Rossmore Edward Abbott
 Miss. Anna Sinkkonen
 Mr. Daniel Warner Marvin
 Mr. Michael Connaghton
 Miss. Joan Wells
 Master. Meier Moor
 Mr. Johannes Joseph Vande Velde
 Mr. Lalio Jonkoff
 Mrs. Samuel Herman(Jane Laver)
 Master. Viljo Hamalainen
 Mr. August Sigfrid Carlsson
 Mr. Percy Andrew Bailey
 Mr. Thomas Leonard Theobald
 the Countess. of Rothes(Lucy Noel Martha Dyer-Edwards)
 Mr. John Garfirth
 Mr. Iisakki Antino Aijo Nirva
 Mr. Hanna Assi Barah
 Mrs. William Ernest Carter(Lucile Polk)
 Mr. Hans Linus Eklund
 Mrs. John C Hogeboom(Anna Andrews)
 Dr. Arthur Jackson Brewe
 Miss. Mary Mangan
 Mr. Daniel J Moran
 Mr. Daniel Danielsen Gronnestad
 Mr. Rene Aime Lievens
 Mr. Niels Peder Jensen
 Mrs. Mack(Mary)
 Mr. Dibo Elias
 Mrs. Elizabeth Hocking(Eliza Needs)
 Mr. Pehr Fabian Oliver Malkolm Myhrman
 Mr. Roger Tobin
 Miss. Virginia Ethel Emanuel
 Mr. Thomas J Kilgannon
 Mrs. Edward Scott Robert(Elisabeth Walton McMillan)
 Miss. Banoura Ayoub
 Mrs. Albert Adrian Dick(Vera Gillespie)
 Mr. Milton Clyde Long
 Mr. Andrew G Johnston
 Mr. William Ali
 Mr. Abraham Harmer(David Lishin)
 Miss. Anna Sofia Sjoblom
 Master. George Hugh Rice
 Master. Bertram Vere Dean
 Mr. Benjamin Guggenheim
 Mr. Andrew "Andy" Keane
 Mr. Alfred Gaskell
 Miss. Stella Anna Sage
 Mr. William Fisher Hoyt
 Mr. Ristiu Dantcheff
 Mr. Richard Otter
 Dr. Alice Leader(Farnham)
 Mrs. Mara Osman
 Mr. Yousseff Ibrahim Shawah
 Mrs. Jean Baptiste Van Impe(Rosalie Paula Govaert)
 Mr. Martin Ponesell
 Mrs. Harvey Collyer(Charlotte Annie Tate)
 Master. William Thornton II Carter
 Master. Assad Alexander Thomas
 Mr. Oskar Arvid Hedman
 Mr. Karl Johan Johansson
 Mr. Thomas Jr Andrews
 Miss. Ellen Natalia Pettersson
 Mr. August Meyer
 Mrs. Norman Campbell Chambers(Bertha Griggs)
 Mr. William Alexander
 Mr. James Lester
 Mr. Richard James Slemen
 Miss. Ebba Iris Alfrida Andersson
 Mr. Ernest Portage Tomlin
 Mr. Richard Fry
 Miss. Wendla Maria Heininen
 Mr. Albert Mallet
 Mr. John Fredrik Alexander Holm
 Master. Karl Thorsten Skoog
 Mrs. Charles Melville Hays(Clara Jennings Gregg)
 Mr. Nikola Lulic
 Jonkheer. John George Reuchlin
 Mrs. Moor(Beila)
 Master. Urho Abraham Panula
 Mr. John Flynn
 Mr. Len Lam
 Master. Andre Mallet
 Mr. Thomas Joseph McCormack
 Mrs. George Nelson Stone(Martha Evelyn)
 Mrs. Antoni Yasbeck(Selini Alexander)
 Master. George Sibley Richards
 Mr. Amin Saad
 Mr. Albert Augustsson
 Mr. Owen George Allum
 Miss. Sara Rebecca Compton
 Mr. Jakob Pasic
 Mr. Maurice Sirota
 Mr. Chang Chip
 Mr. Pierre Marechal
 Mr. Ilmari Rudolf Alhomaki
 Mr. Thomas Charles Mudd
 Miss. Augusta Serepeca
 Mr. Peter L Lemberopolous
 Mr. Jeso Culumovic
 Mr. Anthony Abbing
 Mr. Douglas Bullen Sage
 Mr. Marin Markoff
 Rev. John Harper
 Mrs. Samuel L Goldenberg(Edwiga Grabowska)
 Master. Sigvard Harald Elias Andersson
 Mr. Johan Svensson
 Miss. Nourelain Boulos
 Miss. Mary Conover Lines
 Mrs. Ernest Courtenay Carter(Lilian Hughes)
 Mrs. Sam Aks(Leah Rosen)
 Mrs. George Dennick Wick(Mary Hitchcock)
 Mr. Peter Denis Daly
 Mrs. Solomon Baclini(Latifa Qurban)
 Mr. Raihed Razi
 Mr. Claus Peter Hansen
 Mr. Frederick Edward Giles
 Mrs. Frederick Joel Swift(Margaret Welles Barron)
 Miss. Dorothy Edith "Dolly" Sage
 Mr. John William Gill
 Mrs. Bystrom(Karolina)
 Miss. Asuncion Duran y More
 Mr. Washington Augustus II Roebling
 Mr. Philemon van Melkebeke
 Master. Harold Theodor Johnson
 Mr. Cerin Balkic
 Mrs. Richard Leonard Beckwith(Sallie Monypeny)
 Mr. Frans Olof Carlsson
 Mr. Victor Vander Cruyssen
 Mrs. Samuel Abelson(Hannah Wizosky)
 Miss. Adele Kiamie "Jane" Najib
 Mr. Alfred Ossian Gustafsson
 Mr. Nedelio Petroff
 Mr. Kristo Laleff
 Mrs. Thomas Jr Potter(Lily Alexenia Wilson)
 Mrs. William Shelley(Imanita Parrish Hall)
 Mr. Johann Markun
 Miss. Gerda Ulrika Dahlberg
 Mr. Frederick James Banfield
 Mr. Henry Jr Sutehall
 Mrs. William Rice(Margaret Norton)
 Rev. Juozas Montvila
 Miss. Margaret Edith Graham
 Miss. Catherine Helen "Carrie" Johnston
 Mr. Karl Howell Behr
 Mr. Patrick Dooley
 Mr. Frederick Maxfield Hoyt

Ostatecznie dane dotyczące pasażerów po oczyszczeniu prezentują się tak.

In [31]:
df['sex'] = df['sex'].str.replace("(^f)([A-Za-z]+)*", 'female')

Konieczne było poprawienie błędnych wartości w kolumnie sex dotyczące kobiet.

In [32]:

df['sex'] = df['sex'].str.replace("(^m)([A-Za-z]+)*",'male')

Oraz dane w tejże kolumnie dotyczące mężczyzn.

In [33]:
df['sex'].value_counts()

male      576
female    312
Name: sex, dtype: int64

Tak prezentują się dane w kolumnie sex po zmienach.

In [34]:
df['age'] = df['age'].str.replace(r'[^\d]', '')
df['age'] = df['age'].str.replace(",", '.')
df["age"] = df["age"].apply(pd.to_numeric, errors='coerce')

Z kolumny age usunięto wszystkie wartości, które nie były liczbowe. Następnie ujednolicono znak dziesiętny na .
Oraz zmieniono wartości występujące w kolumnie na numeryczna.

In [35]:
df = df.drop(df[(df.age < 0) | (df.age > 100)].index)

Kolejnym krokiem było usunięcie warości niepoprawnych. Wartości poniżej 0 oraz powyżej 100 uznane zostały za błędne.

In [36]:
df['age'] = df['age'].interpolate()

Wartości wieku, które nie były określone zostały zastąpione wartościami korzystając z metody interpolacji.

In [37]:
df['age'] = df['age'].round(decimals=0)

Następnie zaokrąglono wartości aby nie powodowały problemu w ich odczytywaniu.

In [38]:
for i in df.index:
    print(df.at[i, 'age'])

22.0
38.0
26.0
35.0
35.0
44.0
54.0
2.0
27.0
14.0
4.0
58.0
20.0
14.0
55.0
2.0
16.0
31.0
33.0
35.0
34.0
15.0
8.0
38.0
28.0
19.0
26.0
33.0
40.0
9.0
38.0
66.0
28.0
42.0
32.0
21.0
18.0
14.0
40.0
27.0
15.0
3.0
19.0
19.0
19.0
18.0
18.0
18.0
7.0
21.0
49.0
29.0
65.0
43.0
21.0
5.0
11.0
22.0
38.0
45.0
4.0
12.0
21.0
29.0
19.0
17.0
26.0
32.0
16.0
21.0
26.0
32.0
25.0
44.0
64.0
83.0
30.0
22.0
29.0
28.0
28.0
17.0
33.0
16.0
20.0
23.0
24.0
29.0
20.0
46.0
26.0
59.0
65.0
71.0
23.0
34.0
34.0
28.0
24.0
21.0
33.0
37.0
28.0
21.0
30.0
38.0
42.0
47.0
22.0
20.0
17.0
21.0
29.0
24.0
2.0
21.0
38.0
54.0
12.0
18.0
24.0
34.0
45.0
33.0
20.0
47.0
29.0
25.0
23.0
19.0
37.0
16.0
24.0
23.0
22.0
24.0
19.0
18.0
19.0
27.0
9.0
42.0
51.0
22.0
36.0
51.0
16.0
30.0
35.0
39.0
44.0
40.0
26.0
17.0
1.0
9.0
27.0
45.0
36.0
28.0
61.0
4.0
1.0
21.0
56.0
18.0
34.0
50.0
30.0
36.0
27.0
18.0
9.0
1.0
4.0
18.0
31.0
45.0
40.0
36.0
32.0
19.0
19.0
3.0
44.0
58.0
50.0
42.0
33.0
24.0
28.0
31.0
34.0
18.0
2.0
32.0
26.0
16.0
40.0
24.0
35.0
22.0
30.0
30.0
31.0
27.0
42.0
32.0
30.0
16.0
27.0
51.0
38.0
22.0
19.0
18.0
26.0
35.0
29.0
59.0
5.0
24.0
34.0
44.0
8.0
19.0
33.0
32.0
30.0
29.0
22.0
30.0
44.0
25.0
24.0
37.0
54.0
42.0
29.0
62.0
30.0
41.0
29.0
30.0
30.0
35.0
50.0
26.0
3.0
52.0
40.0
38.0
36.0
16.0
25.0
58.0
35.0
30.0
25.0
41.0
37.0
50.0
63.0
45.0
26.0
7.0
35.0
65.0
28.0
16.0
19.0
26.0
33.0
30.0
22.0
42.0
22.0
26.0
19.0
36.0
24.0
24.0
13.0
2.0
26.0
50.0
40.0
29.0
19.0
43.0
68.0
92.0
54.0
17.0
30.0
30.0
24.0
18.0
26.0
28.0
43.0
26.0
24.0
54.0
31.0
40.0
22.0
27.0
30.0
22.0
29.0
36.0
61.0
36.0
31.0
16.0
27.0
38.0
16.0
20.0
25.0
29.0
41.0
45.0
45.0
2.0
24.0
28.0
25.0
36.0
24.0
40.0
22.0
3.0
42.0
23.0
19.0
15.0
25.0
26.0
28.0
22.0
38.0
39.0
39.0
40.0
29.0
45.0
35.0
32.0
30.0
60.0
48.0
36.0
24.0
25.0
18.0
19.0
22.0
3.0
12.0
22.0
27.0
20.0
19.0
42.0
1.0
32.0
35.0
26.0
18.0
1.0
36.0
26.0
17.0
36.0
21.0
28.0
23.0
24.0
22.0
31.0
46.0
23.0
28.0
39.0
26.0
21.0
28.0
20.0
34.0
51.0
3.0
21.0
24.0
27.0
30.0
33.0
38.0
44.0
39.0
34.0
18.0
30.0
10.0
16.0
21.0
29.0
28.0
18.0
23.0
28.0
19.0
26.0
32.0
28.0
35.0
42.0
17.0
50.0
14.0
21.0
24.0
64.0
31.0
45.0
20.0
25.0
28.0
16.0
4.0
13.0
34.0
5.0
52.0
36.0
33.0
30.0
49.0
39.0
29.0
65.0
58.0
50.0
49.0
48.0
34.0
47.0
48.0
43.0
38.0
47.0
56.0
66.0
75.0
56.0
38.0
33.0
23.0
22.0
28.0
34.0
29.0
22.0
2.0
9.0
30.0
50.0
63.0
25.0
30.0
35.0
58.0
30.0
9.0
15.0
21.0
55.0
71.0
21.0
38.0
54.0
40.0
25.0
24.0
17.0
21.0
29.0
37.0
16.0
18.0
33.0
3.0
28.0
26.0
29.0
32.0
36.0
54.0
24.0
47.0
34.0
35.0
36.0
32.0
22.0
12.0
44.0
47.0
50.0
44.0
39.0
23.0
2.0
10.0
17.0
24.0
30.0
7.0
45.0
30.0
26.0
22.0
36.0
9.0
11.0
32.0
50.0
64.0
19.0
26.0
33.0
8.0
17.0
27.0
24.0
22.0
22.0
62.0
48.0
44.0
39.0
36.0
38.0
40.0
28.0
27.0
25.0
24.0
19.0
29.0
30.0
32.0
62.0
53.0
36.0
26.0
16.0
19.0
34.0
39.0
36.0
32.0
25.0
39.0
54.0
36.0
27.0
18.0
47.0
60.0
22.0
28.0
35.0
52.0
47.0
42.0
37.0
36.0
42.0
49.0
49.0
49.0
24.0
31.0
37.0
44.0
35.0
36.0
30.0
27.0
22.0
40.0
39.0
38.0
37.0
36.0
35.0
24.0
34.0
26.0
4.0
26.0
27.0
42.0
20.0
21.0
21.0
61.0
57.0
21.0
26.0
53.0
80.0
51.0
32.0
20.0
9.0
28.0
32.0
31.0
41.0
30.0
20.0
24.0
2.0
38.0
75.0
48.0
19.0
56.0
40.0
23.0
20.0
18.0
21.0
20.0
18.0
24.0
28.0
32.0
23.0
58.0
50.0
40.0
47.0
36.0
20.0
32.0
38.0
43.0
42.0
40.0
31.0
70.0
31.0
24.0
18.0
18.0
36.0
32.0
27.0
20.0
14.0
60.0
25.0
14.0
19.0
18.0
15.0
31.0
4.0
14.0
25.0
60.0
52.0
44.0
46.0
49.0
42.0
18.0
35.0
18.0
25.0
26.0
39.0
45.0
42.0
22.0
23.0
24.0
36.0
48.0
29.0
52.0
19.0
38.0
27.0
30.0
33.0
6.0
17.0
34.0
50.0
27.0
20.0
30.0
28.0
25.0
25.0
29.0
11.0
17.0
23.0
23.0
48.0
35.0
35.0
36.0
36.0
36.0
21.0
24.0
31.0
70.0
16.0
30.0
19.0
31.0
4.0
6.0
33.0
23.0
48.0
67.0
28.0
18.0
34.0
33.0
37.0
41.0
20.0
36.0
16.0
51.0
45.0
38.0
32.0
24.0
48.0
57.0
56.0
54.0
18.0
12.0
5.0
24.0
43.0
13.0
17.0
29.0
27.0
25.0
25.0
18.0
8.0
1.0
46.0
31.0
16.0
19.0
22.0
25.0
39.0
49.0
31.0
30.0
30.0
34.0
31.0
11.0
42.0
27.0
31.0
39.0
18.0
39.0
33.0
26.0
39.0
35.0
6.0
14.0
23.0
31.0
43.0
10.0
52.0
27.0
38.0
27.0
2.0
2.0
1.0
1.0
32.0
62.0
15.0
83.0
53.0
23.0
18.0
39.0
21.0
26.0
32.0
26.0
20.0
16.0
30.0
17.0
42.0
38.0
35.0
28.0
16.0
4.0
74.0
9.0
16.0
44.0
18.0
45.0
51.0
24.0
32.0
41.0
21.0
48.0
36.0
24.0
42.0
27.0
31.0
18.0
4.0
26.0
47.0
33.0
47.0
28.0
15.0
20.0
19.0
38.0
56.0
25.0
33.0
22.0
28.0
25.0
39.0
27.0
19.0
22.0
26.0
32.0
38.0

Tak przezentuje się wiek po jego poprawieniu.

In [39]:
df['embarked'] = df['embarked'].str.replace("(^S)([A-Za-z]+)*", 'southampton')
df['embarked'] = df['embarked'].str.replace("(^C)([A-Za-z]+)*", 'cherbourg')
df['embarked'] = df['embarked'].str.replace("(^Q)([A-Za-z]+)*", 'queenstown')

Poprawiono dane znajdujące się w kolumnie embarked ujednolicając zapis wartości.

In [40]:
for i in df.index:
    print(df.at[i, 'embarked'])

southampton
cherbourg
southampton
southampton
southampton
queenstown
southampton
southampton
southampton
cherbourg
southampton
southampton
southampton
southampton
southampton
queenstown
southampton
southampton
cherbourg
southampton
southampton
queenstown
southampton
southampton
cherbourg
southampton
queenstown
southampton
cherbourg
cherbourg
queenstown
southampton
cherbourg
southampton
cherbourg
southampton
southampton
cherbourg
southampton
southampton
cherbourg
cherbourg
queenstown
southampton
queenstown
queenstown
cherbourg
southampton
southampton
southampton
cherbourg
southampton
cherbourg
southampton
southampton
southampton
southampton
cherbourg
nan
southampton
southampton
cherbourg
cherbourg
southampton
southampton
southampton
southampton
southampton
southampton
southampton
cherbourg
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
queenstown
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
cherbourg
cherbourg
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
queenstown
southampton
southampton
southampton
cherbourg
southampton
southampton
cherbourg
southampton
southampton
southampton
southampton
cherbourg
queenstown
southampton
cherbourg
southampton
cherbourg
southampton
southampton
southampton
southampton
cherbourg
southampton
southampton
southampton
cherbourg
cherbourg
southampton
southampton
queenstown
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
cherbourg
queenstown
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
queenstown
southampton
southampton
cherbourg
southampton
southampton
cherbourg
southampton
southampton
southampton
cherbourg
southampton
southampton
southampton
southampton
queenstown
southampton
queenstown
southampton
southampton
southampton
southampton
southampton
cherbourg
cherbourg
queenstown
southampton
queenstown
southampton
southampton
southampton
southampton
southampton
southampton
southampton
cherbourg
queenstown
cherbourg
southampton
southampton
southampton
southampton
queenstown
cherbourg
southampton
southampton
cherbourg
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
cherbourg
queenstown
southampton
southampton
cherbourg
queenstown
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
cherbourg
cherbourg
southampton
cherbourg
southampton
queenstown
southampton
southampton
southampton
queenstown
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
cherbourg
queenstown
southampton
southampton
southampton
queenstown
southampton
queenstown
southampton
southampton
southampton
southampton
cherbourg
southampton
southampton
southampton
queenstown
southampton
cherbourg
cherbourg
southampton
southampton
cherbourg
southampton
southampton
cherbourg
queenstown
queenstown
southampton
queenstown
southampton
southampton
cherbourg
cherbourg
cherbourg
cherbourg
cherbourg
cherbourg
southampton
southampton
southampton
southampton
southampton
southampton
southampton
cherbourg
southampton
southampton
queenstown
southampton
southampton
cherbourg
southampton
southampton
southampton
cherbourg
queenstown
southampton
southampton
southampton
southampton
southampton
cherbourg
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
cherbourg
southampton
cherbourg
southampton
southampton
southampton
queenstown
queenstown
southampton
cherbourg
cherbourg
southampton
queenstown
southampton
cherbourg
cherbourg
queenstown
cherbourg
cherbourg
southampton
southampton
cherbourg
southampton
cherbourg
southampton
cherbourg
cherbourg
southampton
cherbourg
cherbourg
southampton
southampton
southampton
southampton
southampton
southampton
queenstown
cherbourg
southampton
southampton
southampton
cherbourg
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
queenstown
queenstown
southampton
southampton
southampton
southampton
southampton
southampton
southampton
cherbourg
queenstown
southampton
southampton
southampton
southampton
southampton
southampton
queenstown
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
cherbourg
southampton
southampton
southampton
cherbourg
cherbourg
southampton
cherbourg
southampton
southampton
southampton
queenstown
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
queenstown
cherbourg
southampton
southampton
southampton
cherbourg
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
cherbourg
southampton
southampton
cherbourg
southampton
southampton
southampton
southampton
southampton
cherbourg
southampton
cherbourg
cherbourg
southampton
southampton
southampton
southampton
queenstown
queenstown
southampton
southampton
cherbourg
southampton
southampton
southampton
southampton
queenstown
southampton
southampton
cherbourg
southampton
southampton
southampton
queenstown
southampton
southampton
southampton
cherbourg
cherbourg
cherbourg
southampton
southampton
southampton
southampton
southampton
cherbourg
cherbourg
cherbourg
southampton
southampton
southampton
cherbourg
southampton
cherbourg
southampton
southampton
southampton
southampton
cherbourg
southampton
southampton
cherbourg
southampton
southampton
cherbourg
southampton
queenstown
cherbourg
southampton
southampton
cherbourg
cherbourg
southampton
southampton
queenstown
southampton
southampton
southampton
southampton
southampton
southampton
southampton
cherbourg
southampton
southampton
southampton
southampton
queenstown
southampton
southampton
southampton
southampton
cherbourg
southampton
southampton
cherbourg
southampton
cherbourg
cherbourg
southampton
southampton
cherbourg
southampton
southampton
southampton
cherbourg
southampton
queenstown
southampton
southampton
southampton
southampton
cherbourg
cherbourg
southampton
southampton
southampton
southampton
cherbourg
southampton
southampton
southampton
cherbourg
southampton
southampton
southampton
queenstown
queenstown
southampton
southampton
southampton
southampton
southampton
southampton
cherbourg
southampton
cherbourg
southampton
southampton
southampton
queenstown
southampton
southampton
queenstown
southampton
southampton
cherbourg
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
cherbourg
southampton
southampton
cherbourg
cherbourg
southampton
cherbourg
southampton
southampton
southampton
southampton
southampton
queenstown
queenstown
southampton
southampton
queenstown
southampton
cherbourg
southampton
cherbourg
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
cherbourg
queenstown
cherbourg
southampton
southampton
southampton
cherbourg
southampton
southampton
southampton
southampton
southampton
cherbourg
southampton
cherbourg
southampton
southampton
southampton
queenstown
cherbourg
southampton
cherbourg
southampton
cherbourg
queenstown
southampton
southampton
southampton
southampton
southampton
cherbourg
cherbourg
southampton
southampton
southampton
southampton
southampton
cherbourg
southampton
queenstown
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
queenstown
southampton
southampton
southampton
cherbourg
southampton
southampton
southampton
southampton
cherbourg
southampton
southampton
southampton
southampton
cherbourg
southampton
southampton
southampton
southampton
southampton
southampton
queenstown
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
cherbourg
southampton
southampton
southampton
cherbourg
queenstown
southampton
southampton
southampton
southampton
cherbourg
southampton
southampton
queenstown
southampton
queenstown
southampton
cherbourg
southampton
southampton
southampton
southampton
southampton
southampton
queenstown
southampton
cherbourg
queenstown
southampton
southampton
cherbourg
southampton
southampton
southampton
southampton
cherbourg
southampton
southampton
southampton
southampton
cherbourg
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
southampton
cherbourg
southampton
southampton
southampton
southampton
southampton
southampton
southampton
queenstown
southampton
cherbourg
queenstown
nan
cherbourg
southampton
cherbourg
southampton
southampton
cherbourg
southampton
southampton
southampton
cherbourg
southampton
southampton
cherbourg
southampton
southampton
southampton
cherbourg
southampton
cherbourg
southampton
southampton
cherbourg
southampton
southampton
southampton
southampton
southampton
cherbourg
cherbourg
southampton
southampton
southampton
southampton
southampton
southampton
cherbourg
southampton
southampton
southampton
southampton
southampton
southampton
southampton
cherbourg
cherbourg
southampton
southampton
southampton
cherbourg
southampton
southampton
southampton
southampton
southampton
queenstown
southampton
southampton
southampton
cherbourg
queenstown
southampton

Tak prezentują się one po poprawie.

In [41]:
df['pclass'] = df['pclass'].apply(str)
df['pclass'] = df['pclass'].str.replace("1", 'upper_class')
df['pclass'] = df['pclass'].str.replace("2", 'middle_class')
df['pclass'] = df['pclass'].str.replace("3", 'lower_class')

Ten sam  zabieg został przeprowadzony na kolumnie pclass.

In [42]:
for i in df.index:
    print(df.at[i, 'pclass'])

lower_class
upper_class
lower_class
upper_class
lower_class
lower_class
upper_class
lower_class
lower_class
middle_class
lower_class
upper_class
lower_class
lower_class
middle_class
lower_class
middle_class
lower_class
lower_class
middle_class
middle_class
lower_class
lower_class
lower_class
lower_class
upper_class
lower_class
lower_class
upper_class
upper_class
lower_class
middle_class
upper_class
upper_class
lower_class
lower_class
lower_class
lower_class
lower_class
middle_class
lower_class
middle_class
lower_class
lower_class
lower_class
lower_class
lower_class
lower_class
lower_class
lower_class
upper_class
middle_class
upper_class
upper_class
middle_class
middle_class
lower_class
lower_class
upper_class
upper_class
lower_class
upper_class
lower_class
middle_class
lower_class
lower_class
lower_class
middle_class
lower_class
middle_class
lower_class
lower_class
lower_class
lower_class
lower_class
middle_class
lower_class
lower_class
lower_class
lower_class
upper_class
middle_class
lower_class
lower_class
lower_class
upper_class
lower_class
lower_class
lower_class
upper_class
lower_class
lower_class
lower_class
upper_class
upper_class
middle_class
middle_class
lower_class
lower_class
upper_class
lower_class
lower_class
lower_class
lower_class
lower_class
lower_class
lower_class
upper_class
lower_class
lower_class
lower_class
lower_class
middle_class
upper_class
lower_class
middle_class
lower_class
upper_class
lower_class
lower_class
lower_class
lower_class
lower_class
lower_class
lower_class
lower_class
middle_class
middle_class
middle_class
upper_class
upper_class
lower_class
upper_class
lower_class
lower_class
lower_class
lower_class
middle_class
middle_class
lower_class
lower_class
middle_class
middle_class
upper_class
lower_class
upper_class
lower_class
lower_class
lower_class
lower_class
lower_class
middle_class
lower_class
lower_class
lower_class
lower_class
upper_class
lower_class
upper_class
lower_class
upper_class
lower_class
lower_class
lower_class
upper_class
lower_class
lower_class
upper_class
middle_class
lower_class
lower_class
middle_class
lower_class
middle_class
lower_class
upper_class
lower_class
upper_class
lower_class
lower_class
middle_class
middle_class
lower_class
middle_class
upper_class
upper_class
lower_class
lower_class
lower_class
middle_class
lower_class
lower_class
lower_class
lower_class
lower_class
lower_class
lower_class
lower_class
upper_class
lower_class
middle_class
lower_class
middle_class
lower_class
upper_class
lower_class
middle_class
upper_class
middle_class
lower_class
middle_class
lower_class
upper_class
lower_class
middle_class
middle_class
lower_class
upper_class
lower_class
middle_class
lower_class
middle_class
lower_class
middle_class
middle_class
middle_class
middle_class
lower_class
lower_class
middle_class
lower_class
lower_class
upper_class
lower_class
middle_class
upper_class
middle_class
lower_class
lower_class
upper_class
lower_class
lower_class
lower_class
upper_class
upper_class
upper_class
middle_class
lower_class
lower_class
upper_class
upper_class
lower_class
middle_class
lower_class
lower_class
upper_class
upper_class
upper_class
lower_class
middle_class
upper_class
lower_class
upper_class
lower_class
middle_class
lower_class
lower_class
lower_class
lower_class
lower_class
lower_class
upper_class
lower_class
lower_class
lower_class
middle_class
lower_class
upper_class
upper_class
middle_class
lower_class
lower_class
upper_class
upper_class
upper_class
upper_class
lower_class
lower_class
lower_class
middle_class
lower_class
upper_class
upper_class
upper_class
middle_class
upper_class
upper_class
upper_class
middle_class
lower_class
middle_class
lower_class
middle_class
middle_class
upper_class
upper_class
lower_class
lower_class
middle_class
middle_class
lower_class
upper_class
lower_class
middle_class
lower_class
upper_class
lower_class
upper_class
lower_class
upper_class
lower_class
upper_class
upper_class
lower_class
upper_class
middle_class
upper_class
middle_class
middle_class
middle_class
middle_class
middle_class
lower_class
lower_class
lower_class
lower_class
upper_class
lower_class
lower_class
lower_class
lower_class
upper_class
middle_class
lower_class
lower_class
lower_class
middle_class
lower_class
lower_class
lower_class
lower_class
upper_class
lower_class
lower_class
upper_class
upper_class
lower_class
lower_class
upper_class
lower_class
upper_class
lower_class
upper_class
lower_class
lower_class
upper_class
lower_class
lower_class
upper_class
lower_class
middle_class
lower_class
middle_class
lower_class
middle_class
upper_class
lower_class
lower_class
upper_class
lower_class
lower_class
lower_class
middle_class
middle_class
middle_class
lower_class
lower_class
lower_class
lower_class
lower_class
middle_class
lower_class
middle_class
lower_class
lower_class
lower_class
lower_class
upper_class
middle_class
lower_class
lower_class
middle_class
middle_class
middle_class
lower_class
lower_class
lower_class
lower_class
lower_class
lower_class
lower_class
middle_class
middle_class
lower_class
lower_class
upper_class
lower_class
middle_class
lower_class
upper_class
upper_class
lower_class
middle_class
upper_class
middle_class
middle_class
lower_class
lower_class
middle_class
lower_class
upper_class
middle_class
upper_class
lower_class
upper_class
middle_class
lower_class
upper_class
upper_class
lower_class
lower_class
upper_class
upper_class
middle_class
lower_class
upper_class
lower_class
upper_class
middle_class
lower_class
lower_class
middle_class
upper_class
lower_class
lower_class
lower_class
lower_class
middle_class
middle_class
lower_class
upper_class
middle_class
lower_class
lower_class
lower_class
lower_class
middle_class
lower_class
lower_class
upper_class
lower_class
upper_class
upper_class
lower_class
lower_class
lower_class
lower_class
upper_class
upper_class
lower_class
lower_class
upper_class
lower_class
upper_class
lower_class
lower_class
lower_class
lower_class
lower_class
upper_class
upper_class
middle_class
upper_class
lower_class
lower_class
lower_class
lower_class
upper_class
upper_class
lower_class
upper_class
middle_class
lower_class
middle_class
lower_class
lower_class
lower_class
upper_class
lower_class
middle_class
upper_class
lower_class
middle_class
middle_class
lower_class
lower_class
lower_class
lower_class
middle_class
upper_class
upper_class
lower_class
upper_class
upper_class
lower_class
lower_class
middle_class
upper_class
upper_class
middle_class
middle_class
lower_class
middle_class
upper_class
middle_class
lower_class
lower_class
lower_class
upper_class
upper_class
upper_class
upper_class
lower_class
lower_class
lower_class
middle_class
lower_class
lower_class
lower_class
lower_class
lower_class
lower_class
lower_class
middle_class
upper_class
upper_class
lower_class
lower_class
lower_class
middle_class
upper_class
lower_class
lower_class
middle_class
upper_class
middle_class
upper_class
lower_class
upper_class
middle_class
upper_class
lower_class
lower_class
lower_class
upper_class
lower_class
lower_class
middle_class
lower_class
middle_class
lower_class
lower_class
upper_class
middle_class
lower_class
upper_class
lower_class
upper_class
lower_class
lower_class
upper_class
middle_class
upper_class
lower_class
lower_class
lower_class
lower_class
lower_class
middle_class
lower_class
lower_class
middle_class
middle_class
lower_class
upper_class
lower_class
lower_class
lower_class
upper_class
middle_class
upper_class
lower_class
lower_class
upper_class
lower_class
upper_class
upper_class
lower_class
middle_class
lower_class
middle_class
lower_class
lower_class
lower_class
upper_class
lower_class
lower_class
lower_class
upper_class
lower_class
upper_class
lower_class
lower_class
lower_class
middle_class
lower_class
lower_class
lower_class
middle_class
lower_class
lower_class
middle_class
upper_class
upper_class
lower_class
upper_class
lower_class
lower_class
middle_class
lower_class
lower_class
upper_class
middle_class
upper_class
middle_class
middle_class
middle_class
lower_class
lower_class
upper_class
lower_class
upper_class
lower_class
lower_class
middle_class
middle_class
lower_class
lower_class
lower_class
upper_class
upper_class
lower_class
lower_class
lower_class
upper_class
middle_class
lower_class
lower_class
upper_class
lower_class
upper_class
upper_class
lower_class
lower_class
lower_class
middle_class
middle_class
upper_class
upper_class
lower_class
upper_class
upper_class
upper_class
lower_class
middle_class
lower_class
upper_class
middle_class
lower_class
lower_class
middle_class
lower_class
middle_class
middle_class
upper_class
lower_class
middle_class
lower_class
middle_class
lower_class
upper_class
lower_class
middle_class
middle_class
middle_class
lower_class
upper_class
lower_class
lower_class
upper_class
upper_class
upper_class
lower_class
lower_class
upper_class
lower_class
middle_class
upper_class
lower_class
middle_class
lower_class
lower_class
lower_class
middle_class
middle_class
lower_class
middle_class
lower_class
upper_class
lower_class
lower_class
lower_class
upper_class
lower_class
upper_class
upper_class
lower_class
lower_class
lower_class
lower_class
middle_class
lower_class
middle_class
lower_class
lower_class
lower_class
lower_class
upper_class
lower_class
upper_class
upper_class
lower_class
lower_class
lower_class
lower_class
lower_class
lower_class
upper_class
lower_class
middle_class
lower_class
upper_class
lower_class
middle_class
upper_class
lower_class
lower_class
lower_class
middle_class
middle_class
upper_class
lower_class
lower_class
lower_class
upper_class
lower_class
middle_class
upper_class
lower_class
lower_class
middle_class
lower_class
upper_class
lower_class
middle_class
lower_class
lower_class
upper_class
lower_class
upper_class
lower_class
lower_class
lower_class
lower_class
middle_class
lower_class
upper_class
lower_class
middle_class
lower_class
lower_class
lower_class
upper_class
lower_class
lower_class
lower_class
upper_class
lower_class
middle_class
upper_class
lower_class
lower_class
lower_class
lower_class
middle_class
upper_class
lower_class
lower_class
lower_class
upper_class
middle_class
lower_class
upper_class
upper_class
lower_class
lower_class
lower_class
middle_class
upper_class
lower_class
middle_class
middle_class
middle_class
upper_class
lower_class
lower_class
lower_class
upper_class
upper_class
lower_class
middle_class
lower_class
lower_class
lower_class
lower_class
upper_class
middle_class
lower_class
lower_class
middle_class
lower_class
lower_class
middle_class
upper_class
lower_class
upper_class
lower_class
upper_class

A oto wyniki wykonanej czynności.

In [43]:
df_gender = pd.get_dummies(df['sex'])
df = pd.concat([df, df_gender], axis=1)

Następnym krokiem było utworzenie z dostępnych tabel cech jakościowych, a następnie przekształcenie ich w zmienne zastępcze. Wykonano to dla kolumny sex.

In [44]:
print(df)

     passenger_id  survived       pclass  \
0               1         0  lower_class
1               2         1  upper_class
2               3         1  lower_class
3               4         1  upper_class
4               5         0  lower_class
..            ...       ...          ...
887           888         1  upper_class
888           889         0  lower_class
889           890         1  upper_class
890           891         0  lower_class
891          1000         1  upper_class

                                                  name     sex   age  \
0                               Mr. Owen Harris Braund    male  22.0
1     Mrs. John Bradley Cumings(Florence Briggs Tha...  female  38.0
2                                Miss. Laina Heikkinen  female  26.0
3           Mrs. Jacques Heath Futrelle(Lily May Peel)  female  35.0
4                              Mr. William Henry Allen    male  35.0
..                                                 ...     ...   ...
887                        Miss. Margaret Edith Graham  female  19.0
888            Miss. Catherine Helen "Carrie" Johnston  female  22.0
889                               Mr. Karl Howell Behr    male  26.0
890                                 Mr. Patrick Dooley    male  32.0
891                        Mr. Frederick Maxfield Hoyt    male  38.0

     siblings_spouses  parents_children            ticket     fare cabin  \
0                   1                 0         A/5 21171     7,25   NaN
1                   1                 0          PC 17599  71,2833   C85
2                   0                 0  STON/O2. 3101282    7,925   NaN
3                   1                 0            113803     53,1  C123
4                   0                 0            373450     8,05   NaN
..                ...               ...               ...      ...   ...
887                 0                 0            112053       30   B42
888                 1                 2        W./C. 6607    23,45   NaN
889                 0                 0            111369       30  C148
890                 0                 0            370376     7,75   NaN
891                 1                 0             19943       90   C93

        embarked     ship  female  male
0    southampton  Titanic       0     1
1      cherbourg  Titanic       1     0
2    southampton  Titanic       1     0
3    southampton  Titanic       1     0
4    southampton  Titanic       0     1
..           ...      ...     ...   ...
887  southampton  Titanic       1     0
888  southampton  Titanic       1     0
889    cherbourg  Titanic       0     1
890   queenstown  Titanic       0     1
891  southampton  Titanic       0     1

[868 rows x 15 columns]

In [45]:
df_embarked = pd.get_dummies(df['embarked'])
df = pd.concat([df, df_embarked], axis=1)

Również dla kolumny embarked.

In [46]:
print(df)

     passenger_id  survived       pclass  \
0               1         0  lower_class
1               2         1  upper_class
2               3         1  lower_class
3               4         1  upper_class
4               5         0  lower_class
..            ...       ...          ...
887           888         1  upper_class
888           889         0  lower_class
889           890         1  upper_class
890           891         0  lower_class
891          1000         1  upper_class

                                                  name     sex   age  \
0                               Mr. Owen Harris Braund    male  22.0
1     Mrs. John Bradley Cumings(Florence Briggs Tha...  female  38.0
2                                Miss. Laina Heikkinen  female  26.0
3           Mrs. Jacques Heath Futrelle(Lily May Peel)  female  35.0
4                              Mr. William Henry Allen    male  35.0
..                                                 ...     ...   ...
887                        Miss. Margaret Edith Graham  female  19.0
888            Miss. Catherine Helen "Carrie" Johnston  female  22.0
889                               Mr. Karl Howell Behr    male  26.0
890                                 Mr. Patrick Dooley    male  32.0
891                        Mr. Frederick Maxfield Hoyt    male  38.0

     siblings_spouses  parents_children            ticket     fare cabin  \
0                   1                 0         A/5 21171     7,25   NaN
1                   1                 0          PC 17599  71,2833   C85
2                   0                 0  STON/O2. 3101282    7,925   NaN
3                   1                 0            113803     53,1  C123
4                   0                 0            373450     8,05   NaN
..                ...               ...               ...      ...   ...
887                 0                 0            112053       30   B42
888                 1                 2        W./C. 6607    23,45   NaN
889                 0                 0            111369       30  C148
890                 0                 0            370376     7,75   NaN
891                 1                 0             19943       90   C93

        embarked     ship  female  male  cherbourg  queenstown  southampton
0    southampton  Titanic       0     1          0           0            1
1      cherbourg  Titanic       1     0          1           0            0
2    southampton  Titanic       1     0          0           0            1
3    southampton  Titanic       1     0          0           0            1
4    southampton  Titanic       0     1          0           0            1
..           ...      ...     ...   ...        ...         ...          ...
887  southampton  Titanic       1     0          0           0            1
888  southampton  Titanic       1     0          0           0            1
889    cherbourg  Titanic       0     1          1           0            0
890   queenstown  Titanic       0     1          0           1            0
891  southampton  Titanic       0     1          0           0            1

[868 rows x 18 columns]

In [47]:
pclass = pd.get_dummies(df['pclass'])
df = pd.concat([df, pclass], axis=1)

Oraz ostatecznie dla kolumny pclass.

In [48]:
print(df)

     passenger_id  survived       pclass  \
0               1         0  lower_class
1               2         1  upper_class
2               3         1  lower_class
3               4         1  upper_class
4               5         0  lower_class
..            ...       ...          ...
887           888         1  upper_class
888           889         0  lower_class
889           890         1  upper_class
890           891         0  lower_class
891          1000         1  upper_class

                                                  name     sex   age  \
0                               Mr. Owen Harris Braund    male  22.0
1     Mrs. John Bradley Cumings(Florence Briggs Tha...  female  38.0
2                                Miss. Laina Heikkinen  female  26.0
3           Mrs. Jacques Heath Futrelle(Lily May Peel)  female  35.0
4                              Mr. William Henry Allen    male  35.0
..                                                 ...     ...   ...
887                        Miss. Margaret Edith Graham  female  19.0
888            Miss. Catherine Helen "Carrie" Johnston  female  22.0
889                               Mr. Karl Howell Behr    male  26.0
890                                 Mr. Patrick Dooley    male  32.0
891                        Mr. Frederick Maxfield Hoyt    male  38.0

     siblings_spouses  parents_children            ticket     fare  ...  \
0                   1                 0         A/5 21171     7,25  ...
1                   1                 0          PC 17599  71,2833  ...
2                   0                 0  STON/O2. 3101282    7,925  ...
3                   1                 0            113803     53,1  ...
4                   0                 0            373450     8,05  ...
..                ...               ...               ...      ...  ...
887                 0                 0            112053       30  ...
888                 1                 2        W./C. 6607    23,45  ...
889                 0                 0            111369       30  ...
890                 0                 0            370376     7,75  ...
891                 1                 0             19943       90  ...

        embarked     ship female  male  cherbourg  queenstown  southampton  \
0    southampton  Titanic      0     1          0           0            1
1      cherbourg  Titanic      1     0          1           0            0
2    southampton  Titanic      1     0          0           0            1
3    southampton  Titanic      1     0          0           0            1
4    southampton  Titanic      0     1          0           0            1
..           ...      ...    ...   ...        ...         ...          ...
887  southampton  Titanic      1     0          0           0            1
888  southampton  Titanic      1     0          0           0            1
889    cherbourg  Titanic      0     1          1           0            0
890   queenstown  Titanic      0     1          0           1            0
891  southampton  Titanic      0     1          0           0            1

     lower_class  middle_class  upper_class
0              1             0            0
1              0             0            1
2              1             0            0
3              0             0            1
4              1             0            0
..           ...           ...          ...
887            0             0            1
888            1             0            0
889            0             0            1
890            1             0            0
891            0             0            1

[868 rows x 21 columns]

In [49]:
column_order = ['passenger_id', 'name', 'female', 'male', 'age', 'survived', 'upper_class', 'middle_class', 'lower_class','cabin', 'ship', 'ticket', 'pclass', 'embarked', 'sex', 'siblings_spouses', 'parents_children', 'fare', 'cherbourg', 'queenstown', 'southampton']


df = df.reindex(columns=column_order)

Uporządkowano kolejność kolumn aby dane prezentowały się w sposób poprawny i przyjazny dla użytkownika.

In [50]:
df.dtypes

passenger_id          int64
name                 object
female                uint8
male                  uint8
age                 float64
survived              int64
upper_class           uint8
middle_class          uint8
lower_class           uint8
cabin                object
ship                 object
ticket               object
pclass               object
embarked             object
sex                  object
siblings_spouses      int64
parents_children      int64
fare                 object
cherbourg             uint8
queenstown            uint8
southampton           uint8
dtype: object

Sprawdzono typy zmiennych i nadal wymagało dokonać kilku zmian aby zbiór był poprawnie zakodowany.

In [51]:
df.age = df.age.astype(int)
df.survived = df.survived.astype(int)
df.siblings_spouses = df.siblings_spouses.astype(int)
df.parents_children = df.parents_children.astype(int)
df['fare'] = df['fare'].str.replace(r'[^\d]', '')
df['fare'] = df['fare'].str.replace(",", '.')
df['fare'] = pd.to_numeric(df['fare'],errors='coerce')

Dokonano zmian na wcześniej poprawionych danych tak aby typ odpowiadał przechowywanej zawartości.

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 868 entries, 0 to 891
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   passenger_id      868 non-null    int64
 1   name              868 non-null    object
 2   female            868 non-null    uint8
 3   male              868 non-null    uint8
 4   age               868 non-null    int32
 5   survived          868 non-null    int32
 6   upper_class       868 non-null    uint8
 7   middle_class      868 non-null    uint8
 8   lower_class       868 non-null    uint8
 9   cabin             200 non-null    object
 10  ship              868 non-null    object
 11  ticket            868 non-null    object
 12  pclass            868 non-null    object
 13  embarked          866 non-null    object
 14  sex               868 non-null    object
 15  siblings_spouses  868 non-null    int32
 16  parents_children  868 non-null    int32
 17  fare              868 non-null    int64
 18  cherbourg         868 non-null    uint8
 19  queenstown        868 non-null    uint8
 20  southampton       868 non-null    uint8
dtypes: int32(4), int64(2), object(7), uint8(8)
memory usage: 128.2+ KB

Tak wygląda podsumowanie po dokonanych zmianach dotyczących typów danych.

In [53]:
df.head(20)

,passenger_id,name,female,male,age,survived,upper_class,middle_class,lower_class,cabin,...,ticket,pclass,embarked,sex,siblings_spouses,parents_children,fare,cherbourg,queenstown,southampton
0,1,Mr. Owen Harris Braund,0,1,22,0,0,0,1,NaN,...,A/5 21171,lower_class,southampton,male,1,0,725,0,0,1
1,2,Mrs. John Bradley Cumings(Florence Briggs Tha...,1,0,38,1,1,0,0,C85,...,PC 17599,upper_class,cherbourg,female,1,0,712833,1,0,0
2,3,Miss. Laina Heikkinen,1,0,26,1,0,0,1,NaN,...,STON/O2. 3101282,lower_class,southampton,female,0,0,7925,0,0,1
3,4,Mrs. Jacques Heath Futrelle(Lily May Peel),1,0,35,1,1,0,0,C123,...,113803,upper_class,southampton,female,1,0,531,0,0,1
4,5,Mr. William Henry Allen,0,1,35,0,0,0,1,NaN,...,373450,lower_class,southampton,male,0,0,805,0,0,1
5,6,Mr. James Moran,0,1,44,0,0,0,1,NaN,...,330877,lower_class,queenstown,male,0,0,84583,0,1,0
6,7,Mr. Timothy J McCarthy,0,1,54,0,1,0,0,E46,...,17463,upper_class,southampton,male,0,0,518625,0,0,1
7,8,Master. Gosta Leonard Palsson,0,1,2,0,0,0,1,NaN,...,349909,lower_class,southampton,male,3,1,21075,0,0,1
8,9,Mrs. Oscar W Johnson(Elisabeth Vilhelmina Berg),1,0,27,1,0,0,1,NaN,...,347742,lower_class,southampton,female,0,2,111333,0,0,1
9,10,Mrs. Nicholas Nasser(Adele Achem),1,0,14,1,0,1,0,NaN,...,237736,middle_class,cherbourg,female,1,0,300708,1,0,0
10,11,Miss. Marguerite Ru$$ Sandstrom,1,0,4,1,0,0,1,G6,...,PP 9549,lower_class,southampton,female,1,1,167,0,0,1
11,12,Miss. Elizabeth Bonnell,1,0,58,1,1,0,0,C103,...,113783,upper_class,southampton,female,0,0,2655,0,0,1
12,13,Mr. William Henry Saundercock,0,1,20,0,0,0,1,NaN,...,A/5. 2151,lower_class,southampton,male,0,0,805,0,0,1
14,15,Miss. Hulda Amanda Adolfina Vestrom,1,0,14,0,0,0,1,NaN,...,350406,lower_class,southampton,female,0,0,78542,0,0,1
15,16,Mrs. Hewlett(Mary D Kingcome),1,0,55,1,0,1,0,NaN,...,248706,middle_class,southampton,female,0,0,16,0,0,1
16,17,Master. Eugene Rice,0,1,2,0,0,0,1,NaN,...,382652,lower_class,queenstown,male,4,1,29125,0,1,0
17,18,Mr. Charles Eugene Williams,0,1,16,1,0,1,0,NaN,...,244373,middle_class,southampton,male,0,0,13,0,0,1
18,19,Mrs. Julius Vander Planke(Emelia Maria Vandem...,1,0,31,0,0,0,1,NaN,...,345763,lower_class,southampton,female,1,0,18,0,0,1
19,20,Mrs. Fatima Masselmani,1,0,33,1,0,0,1,NaN,...,2649,lower_class,cherbourg,female,0,0,7225,1,0,0
20,21,Mr. Joseph J Fynney,0,1,35,0,0,1,0,NaN,...,239865,middle_class,southampton,male,0,0,26,0,0,1

Podgląd danych pokazuje nam jednak, że nie jest to koniec pracy nad zbioerem danych. Trzeba jeszcze dokonać ostatnich poprawek aby był on gotowy do analizy.

In [54]:
columns_to_drop = ['name','cabin','ship','ticket','pclass','embarked','sex']
df.drop(columns_to_drop, inplace=True, axis=1)

Jednym z ostanich kroków jest usunięcie błędnych lub niepotrzebych kolumn.

In [55]:
df.isnull().sum()

passenger_id        0
female              0
male                0
age                 0
survived            0
upper_class         0
middle_class        0
lower_class         0
siblings_spouses    0
parents_children    0
fare                0
cherbourg           0
queenstown          0
southampton         0
dtype: int64

Ostatnie sprawdzenie wartości w kolumnach. Brak wartości nie występuje już w zbiorze danych.

In [56]:
df["age"] = (df["age"]-df["age"].min()) / (df["age"].max()-df["age"].min())
df["fare"] = (df["fare"]-df["fare"].min()) / (df["fare"].max()-df["fare"].min())

Z powodu dużego rozstrzału wartości w kolumnach age oraz fare zastosowano normalizacje min - max.

In [57]:
df.head(20)

,passenger_id,female,male,age,survived,upper_class,middle_class,lower_class,siblings_spouses,parents_children,fare,cherbourg,queenstown,southampton
0,1,0,1,0.230769,0,0,0,1,1,0,0.000142,0,0,1
1,2,1,0,0.406593,1,1,0,0,1,0,0.139136,1,0,0
2,3,1,0,0.274725,1,0,0,1,0,0,0.001547,0,0,1
3,4,1,0,0.373626,1,1,0,0,1,0,0.000104,0,0,1
4,5,0,1,0.373626,0,0,0,1,0,0,0.000157,0,0,1
5,6,0,1,0.472527,0,0,0,1,0,0,0.016510,0,1,0
6,7,0,1,0.582418,0,1,0,0,0,0,0.101229,0,0,1
7,8,0,1,0.010989,0,0,0,1,3,1,0.004114,0,0,1
8,9,1,0,0.285714,1,0,0,1,0,2,0.021731,0,0,1
9,10,1,0,0.142857,1,0,1,0,1,0,0.058694,1,0,0
10,11,1,0,0.032967,1,0,0,1,1,1,0.000033,0,0,1
11,12,1,0,0.626374,1,1,0,0,0,0,0.000518,0,0,1
12,13,0,1,0.208791,0,0,0,1,0,0,0.000157,0,0,1
14,15,1,0,0.142857,0,0,0,1,0,0,0.015330,0,0,1
15,16,1,0,0.593407,1,0,1,0,0,0,0.000003,0,0,1
16,17,0,1,0.010989,0,0,0,1,4,1,0.005685,0,1,0
17,18,0,1,0.164835,1,0,1,0,0,0,0.000003,0,0,1
18,19,1,0,0.329670,0,0,0,1,1,0,0.000004,0,0,1
19,20,1,0,0.351648,1,0,0,1,0,0,0.001410,1,0,0
20,21,0,1,0.373626,0,0,1,0,0,0,0.000005,0,0,1

Tak przezentują się dane po normalizacji. Teraz dane te przyjmują wartości od 0 do 1 i są dużo bardziej przyjazne do przeprowadzania analizy.

In [58]:
df = df.set_index('passenger_id')

Ostatnim krokiem przed podzieleniem zbioru na treningowy oraz testowy było ustawienie indeksu danych na zmienną passenger_id.

In [59]:
train=df.sample(frac=0.7,random_state=200)
test=df.drop(train.index)

Dokonano podziału danych na zbiór treningowy i testowy.

In [60]:
train

,female,male,age,survived,upper_class,middle_class,lower_class,siblings_spouses,parents_children,fare,cherbourg,queenstown,southampton
passenger_id,,,,,,,,,,,,,
362,0,1,0.307692,0,0,1,0,1,0,0.054107,1,0,0
771,0,1,0.252747,0,0,0,1,0,0,0.000019,0,0,1
42,1,0,0.285714,0,0,1,0,1,0,0.000004,0,0,1
413,1,0,0.351648,1,1,0,0,1,0,0.000018,0,1,0
33,1,0,0.406593,1,0,0,1,0,0,0.000151,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,0,1,0.021978,1,0,1,0,1,1,0.000366,0,0,1
473,1,0,0.351648,1,0,1,0,1,2,0.000542,0,0,1
860,0,1,0.340659,0,0,0,1,0,0,0.014110,1,0,0
477,0,1,0.362637,0,0,1,0,1,0,0.000004,0,0,1
183,0,1,0.087912,0,0,0,1,4,2,0.061264,0,0,1

Tak prezentuje się zbiór treningowy.

In [61]:
test

,female,male,age,survived,upper_class,middle_class,lower_class,siblings_spouses,parents_children,fare,cherbourg,queenstown,southampton
passenger_id,,,,,,,,,,,,,
1,0,1,0.230769,0,0,0,1,1,0,0.000142,0,0,1
3,1,0,0.274725,1,0,0,1,0,0,0.001547,0,0,1
7,0,1,0.582418,0,1,0,0,0,0,0.101229,0,0,1
8,0,1,0.010989,0,0,0,1,3,1,0.004114,0,0,1
11,1,0,0.032967,1,0,0,1,1,1,0.000033,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
879,0,1,0.406593,0,0,0,1,0,0,0.015412,0,0,1
881,1,0,0.263736,1,0,1,0,0,1,0.000005,0,0,1
884,0,1,0.296703,0,0,1,0,0,0,0.000020,0,0,1
887,0,1,0.285714,0,0,1,0,0,0,0.000003,0,0,1
890,0,1,0.274725,1,1,0,0,0,0,0.000006,1,0,0

Tak prezentuje się zbiór testowy.

In [62]:
df.to_csv('TitanicCleaned.tsv', sep = '\t')